<!DOCTYPE html>
<html lang="de">
{% load static%}


{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

<!-- Since the blog somewhat differs from the rest of the application, as it can also be used without the shop, we have to define somethings here, as we do not extends the base.html -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GreenOasis Pflanzen Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <!-- Simple navbar -->
  <div class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'shop:summary' %}"><img src="{% static 'images/GreenOasis_Logo.png' %}"
          height=40 />
        Welcome!</a>
      <!-- We decided not to add more information/links to the navbar, but one could do so responsively with this section -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </nav>
    <!-- Show picutre and header -->
    <main role="main">
      <div align="center">
        <img src="{% static 'images/Plants.jpg' %}" style="width: 100%;" />
        <h1 class="elegant">Solkraft's Blog about green enery solutions</h1>
      </div>
      <br />

      <!-- CSS used for the games button -->
      <style>
        .hidden {
          display: none;
        }

        .unhidden {
          display: block;
        }
      </style>
      <!-- JavaScript to hide or unhide the community chess game with a simple button click -->
      <script type="text/javascript">
        function unhide(clickedButton, divID) {
          var item = document.getElementById(divID);
          if (item) {
            if (item.className == 'hidden') {
              item.className = 'unhidden';
              clickedButton.value = 'zuklappen'
            } else {
              item.className = 'hidden';
              clickedButton.value = 'Schach'
            }
          }
        }

      </script>

      <!-- Of course, one wants to see the newest blog entries first and potentially one wants to go to the webshop as well -->
      <br />
      <h2 align=center>Recent posts</h2>
      <a href="{% url 'shop:random_products' %}" style="color:goldenrod">
        <h3 align=center>Zum Webshop</h3>
      </a>
      <hr>
    </main>

    <div class="container">
      <!-- We iterate through every blog post -->
      {% for post in blogs.all %}
      <span class='underline'>
        <!-- Show the title of the post -->
        <a href="{{post.id}}" style="color:green">
          <h3 class="elegant">{{post.title}}</h3>
        </a>
      </span><br />
      <!-- and the nicely formatted date -->
      {{post.pub_date_pretty}}
      <!-- As well as the first 100 words of the blog post, to give people an idea on what they are about to read, if they decide to click on the post -->
      <p>{{post.body | linebreaks | truncatewords:100}} </p>
      <!-- Once could also add a summary, but the first 100 words are already telling everything which needs to be told -->
      <!-- 
    <p>{{post.summary}} </p> 
    -->
      <!-- A small image is displayed for every blog post -->
      <div style="text-align: center;"><img class="img-fluid" src="/media/{{post.image}}" width="300" height="200">
      </div><br />
      {% endfor %}
      <br />
      <!-- A small area with community games is also provided for our customers -->
      <h3>Compete against the community and prove yourself in selected games!</h3>
      <!-- The chess games is hidden below a button and one can play against a real human -->
      <div id="about" class="hidden" align="center">
        <div class="content3">
          <h5>Schach spielen</h5>
          <script src="http://www.startspiele.de/einbinden/schach.jhtm"></script>
        </div>
        <br /><br />
      </div>
      <input type="button" class="btn btn-outline-dark" onclick="unhide(this, 'about') " value="Schach spielen">
      <br />
      <!-- A small gaming site with more games is provided via this link -->
      Would you like to play more games? Then visit our <a href='{% url "blog:games"%}' style="color:goldenrod">game
        page</a>
    </div> <br />
    <br /><br />
    <!-- Newsletter -->
    <center>
      <!-- One can register for our newsletter by clicking on the self-designed image -->
      <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
          width='60%' /></a>
    </center><br />
    <!-- The footer from the footer.html is included into this template -->
    {% include 'footer.html' %}
</body>

</html>