<!DOCTYPE html>
<html lang="de">
{% load static%}

<!-- The favicon and further information needs to be defined, as this template doesn't extend any html -->
{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{single_blog.title}}</title>
  <!-- The only ressource which isn't directly from GreenOasis is Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}" />

</head>

<body>
  <!-- Simple navbar -->
  <div class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'shop:summary' %}"><img src="{% static 'images/GreenOasis_Logo.png' %}"
          height=40 />
        Welcome!</a>
      <!-- We decided not to add more information/links to the navbar, but one could do so responsively with this section -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </nav>
    <img src="{% static 'images/Plants.jpg' %}" style="width: 100%;" />
    <div style="text-align: center;">
      <main role="main">
        <br /><br />
        <!-- The title of the blog is shown in an elegant manner -->
        <h1 class="elegant">{{single_blog.title}}</h1>
        <br /><br />
      </main>
    </div>
    <div class="container">
      <!-- The linebreaks command replaces single newline characters with <br> tags and wraps lines of text separated by two newline characters in <p> tags. -->
      <p>{{single_blog.body|linebreaks}} </p>
      <!-- The blog post image is also shown in the blogpost itself -->
      <img class="img-fluid" src="/media/{{single_blog.image}}" height="200" width="200" /><br />
      <br />
      <!-- One can get back to all the blog posts with the help of a button or the return button from the browser one uses -->
      <a href="{% url 'blog:allblogs' %}" class="btn btn-success" role="button">Blogauswahl</a>
    </div>
  </div>
  <br /> <br />
  <!-- Newsletter registration is possible via a click on the self-designed image -->
  <center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
        width='60%' /></a>
  </center><br />
  <!-- The footer is included, as it is the case in allblogs.html -->
  {% include 'footer.html' %}
</body>

</html>