{% load static %}
<!-- Bootstrap CSS -->
<!-- Bootstrap is the only source which is not directly from GreenOasis -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<script src="https://kit.fontawesome.com/7ddcda0d1c.js" crossorigin="anonymous"></script>
<!-- Ensure optimal rendering on mobile devices. -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Ensure optimal Internet Explorer compatibility -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- The footer -->
<footer class="py-5 bg-success">
    <div class="container">
        <div class="row">
            <!-- Static files which inform users about important legal aspects, as well as information about GreenOasis and its services -->
            <div class="col-md-4">
                <h5 class="mb-4 text-white"><u><strong>About us</strong></u></h5>
                <a class="text-white text-decoration-none" href="{% url 'shop:about_us' %}">
                    <p class="text-white"><i class="fab fa-pagelines" style="font-size: 30px"></i>
                        About us
                </a></p>

                <a class="text-white text-decoration-none" href="{% url 'shop:terms_of_service' %}">
                    <p class="text-white"><i class="fas fa-file-signature" style="font-size: 20px;"></i>
                        Terms of use
                </a></p>

                <a class="text-white text-decoration-none" href="{% url 'shop:shipping_policy' %}">
                    <p class="text-white"><i class="fas fa-truck" style="font-size: 18px;"></i>
                        Shipping policy
                </a></p>

                <a class="text-white text-decoration-none" href="{% url 'shop:privacy_policy' %}">
                    <p class="text-white"><i class="fas fa-lock h5"></i>&nbsp; Privacy Policy
                </a></p>

            </div>
            <!-- Of course different contact options are also provided -->
            <div class="col-md-4">
                <h5 class="mb-4 text-white"><u><strong>Contact us</strong></u></h5>
                <a class="text-white text-decoration-none" href="{% url 'contact:contact' %}">
                    <i class="fas fa-comments h4 pb-3"></i> Contact form</a>
                <p class="text-white"><i class="fas fa-map-marker-alt h4"></i> Wan Chai, 105 Kennedy Road</p>
                <p class="text-white"><i class="fas fa-phone-alt h4"></i>
                    <a href="tel:+852747744474" style="color:whitesmoke">+852 747744474</a>
                </p>
                <p class="text-white"><i class="fas fa-envelope h4"></i>
                    <a href="mailto:Solkraft.GreenEnergySolutions@gmail.com"
                        style="color: whitesmoke">Solkraft.GreenEnergySolutions@gmail.com</a>
                </p>

            </div>
            <!-- Further services are also provided below, which of course includes our shop -->
            <div class="col-md-4">
                <h5 class="mb-4 text-white"><u><strong>Further offers</strong></u></h5>
                <a class="text-light text-decoration-none" href="{% url 'shop:product_list' %}">
                    <p class="text-white"><i class="fas fa-shopping-bag h4"></i>
                        Shop
                    </p>
                </a>
                <a class="text-white text-decoration-none" href="{% url 'questions' %}">
                    <p class="text-white"></p><i class="fas fa-question-circle h4"></i> Q&A
                </a>
                <a class="text-white text-decoration-none" href="{% url 'profile:contact' %}">
                    <p class="text-white"></p><i class="fas fa-paper-plane h4"></i> Refunds
                </a>
                </a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright -->
<div class="text-center p-3" style="background-color:dimgray">
    <!-- The actual copyright section -->
    <span style="color:white"> © 2021 Copyright:</span>
    <a class="text-white" href='{% url "shop:random_products" %}'>Solkraft</a>
</div>
<!-- Copyright -->