<!DOCTYPE html>
<html lang="de">
{% load static%}

<head>
    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title class="elegeant">Game page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'shop:summary' %}"><img src="{% static 'images/GreenOasis_Logo.png' %}"
                height=40 />
            Welcome!</a>
        <!-- We decided not to add more information/links to the navbar, but one could do so responsively with this section -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </nav>
    <img src="{% static 'images/Plants.jpg' %}" style="width: 100%;" />
    <br /> <br />

    <h1 class="elegant" style="margin-left:37%">Gaming</h1>
    <br />

    <!-- Table which holds different games which can be played with the plant community -->
    <table width=" 50%" style="margin-left: auto; margin-right: auto">
        <tr>
            <td>
                <script src="http://www.startspiele.de/einbinden/go.jhtm"></script>
            </td>
            <td>
                <script src="http://www.startspiele.de/einbinden/sudoku.jhtm"></script>
            </td>
        </tr>
        <tr>
            <td>
                <script src="http://www.startspiele.de/einbinden/viergewinnt.jhtm"></script>
            </td>
            <td>
                <script src="http://www.startspiele.de/einbinden/memory.jhtm"></script>
            </td>
        </tr>
        <tr>
            <td>
                <script src="http://www.startspiele.de/einbinden/schach.jhtm"></script>
            </td>
            <td>
                <script src="http://www.startspiele.de/einbinden/9ball.jhtm"></script>
            </td>
        </tr>
    </table>
    <br /> <br />

    <h4 class="text-success" style="margin-left:37%">Plants <span style="color:black">vs.</span> <span
            style="color:red">Zombies</span></h4>
    <!-- iframes are a more secure method of embedding content from other sites onto your own page -->
    <!-- As this loads a game, we cannot set the sandbox element, as the game wouldn't work in that case  -->
    <!-- Of course, clickjacking protection was ensured with the help of X-Frame-Options and no sensitive-data is submitted in this case -->
    <!-- It uses HTTPS and thus the data cannot be easily changed by malicious parties -->
    <!-- No connection to retrogames is held when playing the game and a content security policy was set as well -->
    <!-- Moreover, it was ensured that the game only loads after the user clicks on the Play Now button -->
    <iframe class="embed-responsive embed-responsive-16by9"
        src="https://www.retrogames.cc/embed/41654-plants-vs-zombies-usa.html" width="600" height="450" frameborder="no"
        allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
    <p></p>

    <br /> <br />
    <center>
        <!-- Newsletter registration is possible via a click on the self-designed image -->
        <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
                width='60%' /></a>
    </center><br />
    <!-- The footer is included, as it is the case in allblogs.html -->
    {% include 'footer.html' %}
</body>

</html>