{% extends "shop/base.html" %}
{% load static %}

<!-- Adjust the title shown in the tab -->
{% block title %}
Reklamationen
{% endblock %}

{% block content %}
<!-- Once one send a message, a message to the sender/user is generated in the backend and displayed in the template -->
{% if message %}
<h1 class="display-4 p-4 text-center">{{ message }}</h1>
<p class="text-center"><i class="fas fa-envelope display-1 p-4 text-center" aria-hidden="true"></i></p>
<br>
<!-- Otherwise the form must be shown -->
{% else %}
<div class="container d-flex justify-content-center">
	<!-- Da wir auf eine POST-Methode prüfen, muss keine Aktion definiert werden -->
	<form action="" method="post" class="form">
		<p>Schreiben Sie uns, was Ihr Problem ist. Vergessen Sie nicht zu beschreiben, um welches Produkt und welchen
			Auftrag es sich handelt und welche Erwartungen Sie an uns haben. Die Antwort erhalten Sie auf die angegebene
			E-Mail Adresse.</p>
		<!-- Nachfolgend müssen Sie die Gründe für eine (teilweise) Rückerstattung beschreiben, sowie ihre E-Mail und den Bestellcode hinzufügen -->
		<div class="fieldWrapper">
			Grund der Reklamation<br>
			{{ form.body }}
			{% if form.body.help_text %}
			<p class="help">{{ form.body.help_text|safe }}</p>
			{% endif %}
		</div>
		<br>
		<!-- Die E-Mail wird natürlich benötigt, um dem Kunden zu antworten, was manuell erledigt wird -->
		<div class="fieldWrapper">
			E-Mail<br>
			{{ form.email }}
			{% if form.email.help_text %}
			<p class="help">{{ form.email.help_text|safe }}</p>
			{% endif %}
		</div>
		<br>
		<!-- Die führenden Nullen werden nicht benötigt -->
		<div class="fieldWrapper">
			Bestellnummer (ohne führende Nullen):<br>
			{{ form.order_id }}
			{% if form.order_id.help_text %}
			<p class="help">{{ form.order_id.help_text|safe }}</p>
			{% endif %}
		</div>
		<!-- Schutz vor Cross-Site Request Forgery -->
		{% csrf_token %}
		<br>
		<input type="submit" class="btn btn-success btn-lg active" value="Senden">
	</form>
</div>
<br />
{% endif %}
{% endblock %}