{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{{ user.username }}s Nutzerprofil
{% endblock %}

{% block content %}

<!-- The scripts are needed for the aria collapse functionality -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<!-- Every image which belongs to the img-fluid class, will get resized, if one hovers over it -->
<style>
	/* If one hovers over the image, it gets resized (bigger) */
	.img-fluid:hover {
		height: 450px;
		/* The transition makes it look rather smooth */
		transition: 1s ease-in-out;
	}
</style>

<!-- If you do not pay within 7 days, the order may be automatically cancelled -->
<p class="text-center"><i>Orders will be automatically canceled if not paid within <u>7 days</u>.
		are paid!</i></p>

<!-- Our customers can check when they bought products from our site -->.
<h3 class="display-4">Order history</h3>.
<!-- The currently active orders are displayed first -->
<h4>Current orders:</h4>
<!-- With this, we loop through each order -->
{% for order in orders %}
<!-- and provide the customer with those that have not yet shipped -->
{% if order.is_sent == False %}

<!-- Aria is used to open and close the content using a button -->
<div role="tablist" class="panel-group" aria-multiselectable="true" id="accordion">
	<!-- You can open and close one button at a time -->
	<div class="panel panel-default">
		<!-- The unique identifier for each order is the order.id -->
		<div role="tab" class="panel-heading" id="heading{{ order.id|stringformat:' 04d' }}">
			<!-- The 04d ensures that the format remains the same for each order -->
			<h4 class="panel-title">
				<!-- collapse is the function that makes the order visible to the customer -->
				<a role="button" class="btn btn-lg btn-success btn-block" aria-expanded="true"
					aria-controls="collapse{{order.id|stringformat:' 04d' }}"
					href="#collapse{{order.id|stringformat:' 04d' }}" data-toggle="collapse">
					<!-- You should set aria-expanded to true, as this is helpful for readers that help the visually impaired -->
					{{ order.created_at }}
					<!-- The date the order was created is used as the button heading -->
				</a>
			</h4>
		</div>
		<!-- This div is displayed when the customer clicks on the button -->
		<div class="panel-collapse collapse in" id="collapse{{ order.id|stringformat:' 04d' }}"
			aria-labelledby="heading{{order.id|stringformat:' 04d' }}" role=" tabpanel">
			<!-- We chose 04d because it's only 4 numbers and there won't be that many orders, so it would look a little weird with that many zeros -->
			<div class="panel-body">
				<!-- The 04d can of course be easily adjusted at any time -->
				<table class="table table-hover">
					<tbody>
						<tr>
							<!-- We define the table headers -->
							<th scope="row">Order number</th>.
							<th>
								<!-- and as with the buttons, we keep the 04d, which makes changes very easy since they are all the same. -->
								<p>{order.id|stringformat: "04d" }}</p>
							</th>
						</tr>
						<tr>
							<!-- The date the customer placed their order -->
							<th scope="row">Placed on</th>.
							<!-- The date is shown here with the time -->
							<th>{{order.created_on }}</th>
						</tr>
						<tr>
							<!-- Next, the customer should be able to easily check whether the order has been paid or not -->
							<th scope="row">Paid?</th>
							<!-- So if is confirmed is set to true, the order has been paid -->
							{% if order.is_confirmed %}
							<th>Yes</th>
							<!-- Otherwise has not been paid -->
							{% else %}
							<th><span>No </span>

								{% if order.is_cash_on_delivery is False %}
								<!-- If payment has not yet been made, the customer is given the option to pay now -->
								<a href="{% url 'cart:cart_checkout' order.id %}" class="btn ml-3 btn-success">Pay now.
									pay</a>
								{% endif %}
							</th>
							{% endif %}
						</tr>
						<tr>
							<!-- Next, the customer should be able to easily check whether the order has been paid or not -->
							<th scope="row">Payment?</th>
							<!-- So if is confirmed is set to true, the order has been paid -->
							{% if order.is_cash_on_delivery %}
							<th>Yes</th>
							<!-- Otherwise was not paid -->
							{% else %}
							<th><span>No</span>
								{% endif %}
						</tr>
						<tr>
							<!-- Another question is whether the package is ready to be shipped or not -->
							<th scope="row">Completed?</th>
							<!-- Either it is completed and therefore ready or not. -->
							<th>{% if order.is_completed %} Yes.
								{% else %} No {% endif %}</th>
						</tr>
						<tr>
							<!-- The same is true for the shipment. -->
							<th scope="row">Sent?</th>
							<!-- Either the order was shipped or not. -->
							<th>{% if order.is_sent %} Yes.
								{% else %} No {% endif %}</th>
						</tr>
						<tr>
							<th scope="row">Delivery type</th>.
							<!-- The method of delivery is also important -->
							<th>{order.delivery_type }}</th>
						</tr>
						<tr>
							<th scope="row">Shipping price</th>.
							<!-- Likewise, the price of the delivery is important - especially since the COD charge is also displayed if the customer has selected this option -->
							<th>{{ order.delivery_price }}</th>
						</tr>
						<tr>
							<th scope="row">Total price</th>.
							<!-- The total price to be paid by the customer must also be displayed -->
							<th>{{order.totalprice }}</th>
						</tr>
					</tbody>
				</table>
				<!-- Further information about the products the customer has purchased is displayed above -->
				<h3>Purchased products:</h3>
				<!-- This will cycle through all the components of the order, i.e. the products -->
				{% for component in components %}
				<!-- And if this order component belongs to this particular order, -->
				{% if component.order == order %}
				<!-- We create a dark table to show more information -->
				<table class="table table-hover table-bordered table-dark">
					<tbody>
						<tr>
							<!-- We start with the image of the product -->
							<th scope=" row">image</th>
							<!-- Either the image of the product or an image not found will be displayed to the customer -->
							<th><img class="img-fluid text-center"
									src="{% if component.product.image %}{{ component.product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}">
							</th>
						</tr>
						<!-- If the order was refunded, -->
						{% if order.is_refunded %}
						<!-- this information must also be displayed and is shown on a separate line -->
						<tr>
							<th>
								<!-- It is in red so that the user sees it immediately -->
								<p style="color:crimson; size: 12px;">The amount has been refunded!</p>

							</th>
						</tr>
						{% endif %}
						<tr>
							<th scope="row">Product</th>
							<!-- The name of the product must be displayed -->
							<th>{{ component.product.name }}</th>
						</tr>
						<tr>
							<th scope="row">quantity</th>
							<!-- As well as the product quantity -->
							<th>{component.quantity }}</th>
						</tr>
						<tr>
							<th scope="row">unit price</th>
							<!-- And the price of each component -->
							<th>{{component.price }}</th>
						</tr>
						<tr>
							<th scope="row">Completed?</th>
							<!-- We also need to check if -->
							<th>{% if component.is_completed %} Yes.
								{% else %} No {% endif %}</th>
						</tr>
					</tbody>
				</table>
				<br />
				{% endif %}
				{% endfor %}
				<br /><br />
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}

<!-- Next, we show the jobs that were completed by the GreenOasis team -->
<p></p>
<h4>Completed jobs:</h4>
<p></p>
<!-- So we loop through all the orders, -->.
{% for order in orders %}
<!-- but only take those that have already been shipped -->
{% if order.is_sent %}
<!-- As above, we create another Aria group -->
<div role="tablist" class="panel-group" aria-multiselectable="true" id="accordion">
	<!-- This allows us to show and hide each button by itself -->
	<div class="panel panel-default">
		<!-- We'll stick with the 4 digits for the order ID, of course -->
		<div role="tab" class="panel-heading" id="heading{{order.id|stringformat:' 04d' }}">
			<!-- and define the title of the panel as the order -->
			<h4 class="panel-title">
				<!-- It collapses - like the one above - and also uses aria-expanded to be more user-friendly - especially for the visually impaired -->
				<a role="button" class="btn btn-block btn-success btn-lg" data-parent="#accordion" aria-expanded="true"
					data-toggle="collapse" href="#collapse{{order.id|stringformat:' 04d' }}"
					aria-controls="collapse{{order.id|stringformat:' 04d' }}">
					<!-- Heading for the button -->
					{{ order.created_at }}

				</a>
			</h4>
		</div>
		<!-- This area will be displayed to the customer when they click on the button -->
		<div class="panel-collapse collapse in" aria-labelledby="heading{{ order.id|stringformat:' 04d' }}"
			id="collapse{{order.id|stringformat:' 04d' }}" role="tabpanel">
			<!-- The collapse in actually makes it possible to display the order in the first place, and the id ensures that the correct order is displayed and only that -->
			<div class="panel-body">
				<!-- We use a striped table for the information about the order -->
				<table class="table table-hover">
					<tbody>
						<tr>
							<!-- starting with the order number -->
							<th scope="row">order number</th>.
							<th>
								<!-- It's actually very similar to the above -->
								<p>{order.id|stringformat: "04d" }}</p>
							</th>
						</tr>
						<tr>
							<th scope="row">Posted on</th>.
							<!-- The date the order was placed -->
							<th>{{order.created_on }}</th>
						</tr>
						<tr>
							<th scope="row">Total price</th>.
							<!-- The total price, which includes the delivery price and COD service fee, if applicable -->
							<th>{{order.totalprice }}</th>
						</tr>
						<tr>
							<th scope="row">Parcel tracking number</th>.
							<!-- The package tracking number is added immediately after shipping so the customer can see where their order is located -->
							<th>{{ order.delivery_searching_code }}</th>
						</tr>
						<tr>
							<th scope="row">Delivery type</th>.
							<!-- The delivery method is either pickup, express, or standard delivery with DHL -->
							<th>{{ order.delivery_type }}</th>
						</tr>
						<tr>
							<th scope="row">Shipping price</th>.
							<!-- Shipping price may include COD service charge -->
							<th>{order.deliveryprice }}</th>
						</tr>

					</tbody>
				</table>
				<!-- Next, all products that belong to this specific order are displayed -->
				<h3>Ordered products:</h3>
				<!-- With this, we loop through all the products -->
				{% for component in components %}
				<!-- but only take the ones that match the current order -->
				{% if component.order == order %}
				<!-- A dark table is displayed again -->
				<table class="table table-hover table-bordered table-dark">
					<tbody>
						<tr>
							<!-- starting with the image of the product -->
							<th scope="row">image</th>
							<!-- Either the image or an image not found will be displayed to the customer -->
							<th><img class="img-fluid text-center mb-4"
									src="{% if component.product.image %}{{ component.product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}">
							</th>
						</tr>
						<tr>
							<th scope="row">product</th>
							<!-- After that, the product name is displayed -->
							<th>{{ component.product.name }}</th>
						</tr>
						<tr>
							<th scope="row">unit price</th>
							<!-- Followed by unit price -->
							<th>{{component.product.price }}</th>
						</tr>
						<tr>
							<th scope="row">Completed?</th>
							<!-- Then the question is answered whether the order is completed or not -->
							<th>{% if component.is_completed %} Yes {% else %}
								No {% endif %}</th>
						</tr>
					</tbody>
				</table>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endif %}
{% endfor %}
<br />
{% endblock %}