{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
<!-- multipart/form-data is needed to make sure the data is sent and it doesn't just look like it is sent -->
<form enctype="multipart/form-data" method="POST">
    <!-- cross-site request forgery protection -->
    {% csrf_token %}
    <!-- The form uses Crispy to make it look better than it would without Crispy -->
    {{ form | crispy }}
    <input type="submit" name="" value="Update" class="btn btn-success">
</form>
<!-- Of course, you don't need to change anything and you can just save the form with the given attributes -->
<!-- However, not all customers will think this way, so we added a button to take them back to their profile -->
<p><a href="{% url 'profile:show_profile' %}" class='text-success'>Back to profile</a></p>
<br />

<!-- Newsletter for registration - after clicking on the self-designed image you can register with your email address -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />
<!-- If someone is not logged in, a message could be displayed, but it is also possible to redirect the user to the login page right away. -->
{% else %}
<h1>You must log in to edit your profile!</h1>
<br />

<!-- Newsletter to sign up - after clicking on the self-designed image, you can sign up with your email address -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />
{% endif %}

{% endblock %}