{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Ihr Profil
{% endblock %}

{% block content %}
<!-- We do not show any borders, as it wouldn't look good in this case -->
<table class="table table-borderless">
	<tbody>
		<tr>
			<!-- The user can change his first name -->
			<th scope="row">first name:</th>
			<th>
				<p>{{ user.first_name }}</p>
			</th>
		</tr>
		<tr>
			<!-- As well as the last name -->
			<th scope="row">last_name:</th>
			<th>{{ user.last_name }}</th>
		</tr>
		<tr>
			<!-- The date of birth does not normally change. So it is displayed in the profile, but cannot be changed by the user himself -->
			<th scope="row">Birthday:</th>
			<th>{{ user.profile.birthday }}</th>
		</tr>
		<tr>
			<!-- However, the email address can be changed by the user himself -->
			<th scope="row">email:</th>
			<th>{{ user.email }}</th>
		</tr>
		<tr>
			<!-- The date of the last login is also shown, but of course cannot be changed by the user either -->
			<th scope="row">Last login:</th>
			<th>{{ user.last_login }}</th>
		</tr>
	</tbody>
</table>

<!-- The user can reset their password if they want to change it. We didn't allow them to just change the password, because one could forget to log out and so the email gives some security-->.
<p><a href="{% url 'password_reset' %}" class="text-success">Reset password</a><br /><br />
	<!-- As mentioned above, some attributes can be changed by the user -->
	<a href="{% url 'profile:update' %}" class="text-success">update profile</a>
</p>
<!-- The user can also take a look at the orders they have placed in the past -->
<p class="border-top"><a href="{% url 'profile:show_orders' %}">
		<button type="button" class="btn btn-success btn-lg mt-4">Show order history</button></a>
	<br />

	<!-- Newsletter to sign up - after clicking on the self-designed image, you can sign up with your email address -->
	<center>
		<a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
				width='60%' /></a>
	</center><br />
	{% endblock %}