{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
<!-- We could import the subscribers, but as mentioned in the HTML file above, we decided to use the admin panel instead -->
<li><a href="{% url opts|admin_urlname:'import' %}">Importieren</a></li>

{{ block.super }}
{% endblock %}