{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}Import-Adresse{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../../../">
    Shop
  </a>
  &rsaquo;
  <a href="../../../">
    Newsletter
  </a>
  &rsaquo;
  <a href="../../">
    Abonnements
  </a>
  &rsaquo;
  <a href="../">
    Import-Adresse
  </a>
  &rsaquo;
  Import bestätigen
</div>
{% endblock %}

{% block content %}
<h1>Import bestätigen</h1>
<div id="content-main">
  <ul>
    {% for email, name in subscribers.items %}
    <li>{% if name %}{{ name }} &lt;{{ email }}&gt;{% else %}{{ email }}{% endif %}</li>
    {% endfor %}
  </ul>
  <!-- multipart data is used to ensure that actual data is being sent -->
  <form enctype="multipart/form-data" method="post">
    <table>
      {{ form.as_table }}
    </table>
    <!-- Cross-site request forgery -->
    {% csrf_token %}
    <input type="submit" name="submit" value="Bestätigen" />
  </form>
</div>
<br />
<br />

{% endblock %}