{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}Import-Adresse{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../../">
    Shop
  </a>
  &rsaquo;
  <a href="../../">
    Newsletter
  </a>
  &rsaquo;
  <a href="../">
    Abonnements
  </a>
  &rsaquo;
  Import-Adresse
</div>
{% endblock %}

{% block content %}
<h1>Import-Adresse</h1>
<div id="content-main">

  <!-- multipart data is used to ensure that actual data is being sent -->
  <form enctype="multipart/form-data" method="post">
    <table>
      {{ form.as_table }}
    </table>
    <!-- Cross-site request forgery protection -->
    {% csrf_token %}
    <input type="submit" name="submit" value="Upload" />
  </form>
</div>
<br />
<br />

{% endblock %}