{% extends "shop/base.html" %}
<!-- In Django 1 that was still called staticfiles, but since Django 2 that is no longer the case -->
{% load static %}
<!-- {% load crispy_forms_tags %} -->

{% block title %}
Shipping address
{% endblock %}

<!-- The css code is not only used for the cart, but contains style for different pages - this one included -->
{% static 'css/cart.css' %}

{% block content %}

<div class="container d-flex justify-content-center">
	<!-- We need to know the shipping address to send the product -->
	<!-- The form class contains some style -->
	<div class="form">
		<form method="post" class="address_form">
			<!-- Cross-site request forgery protection -->
			{% csrf_token %}
			<!-- As crispy didn't look as we wanted it to and as_p didn't look much better, we split the form up into different sections -->

			<div class="fieldWrapper">
				<!-- The label name is used for the first/given name of a person -->
				{{ address_form.name.label_tag }}
				<!-- The label tag defines the name of the field which is to be filled in -->
				{{ address_form.name }}
				<!-- It is fine if a person adds more than one name, i.e. if someone has two or more given names, they can enter them here as well -->
				{% if address_form.name.help_text %}
				<!-- A help text can be shown to the user as well -->
				<p class="help">{{ address_form.name.help_text|safe }}</p>
				{% endif %}
			</div>

			<div class="fieldWrapper">
				<!-- The same goes for the surname. In this case one or more surname - with or without hyphen can be entered -->
				{{ address_form.surname.label_tag }}
				<!-- The label tag defines the name of the field which is to be filled in -->
				{{ address_form.surname }}
				<!-- A help text can be shown for all fields -->
				{% if address_form.surname.help_text %}
				<!-- Some help text could be shown, though it would rather  -->
				<p class="help">{{ address_form.surname.help_text|safe }}</p>
				{% endif %}
			</div>

			<div class="fieldWrapper">
				<!-- The street should be entered next -->
				{{ address_form.street.label_tag }}
				<!-- The label tag defines the name of the field which is to be filled in -->
				{{ address_form.street }}
				<!-- We did not say that there is a shipping and billig address, though that could be added later on -->
				{% if address_form.street.help_text %}
				<!-- In this case only the street name is needed -->
				<p class="help">{{ address_form.street.help_text|safe }}</p>
				{% endif %}
			</div>

			<div class="fieldWrapper">
				<!-- The house number needs to be entered here -->
				{{ address_form.number.label_tag }}
				<!-- The label tag defines the name of the field which is to be filled in -->
				{{ address_form.number }}
				<!-- A help text can be displayed, if need be -->
				{% if address_form.number.help_text %}
				<p class="help">{{ address_form.number.help_text|safe }}</p>
				{% endif %}
			</div>

			<div class="fieldWrapper">
				<!-- The city or village name are needed as well -->
				{{ address_form.city.label_tag }}
				<!-- The label tag defines the name of the field which is to be filled in -->
				{{ address_form.city }}
				<!-- Once more a help text can be shown, if something goes wrong -->
				{% if address_form.city.help_text %}
				<p class="help">{{ address_form.city.help_text|safe }}</p>
				{% endif %}
			</div>

			<p class="col-13">Postal code:</p>
			<!-- The pstal code needs to be entered as well, since some cities/villages share the same name -->
			{{ address_form.postal_code }}
			<!-- As before a help text can be displayed -->
			{% if address_form.postal_code.help_text %}
			<!-- Information that the field is required is e.g. shown for the postal code -->
			<p class="help">{{ address_form.postal_code.help_text|safe }}</p>
			{% endif %}
			<!-- If all the information is filled in, the customer can place the order, though if he/she doesn't pay, the order will simply be deleted after 7 days  -->
			<input type="submit" class="btn btn-success bg-success" value="Order with payment obligation">
		</form>

	</div>
</div>
<br /> <br />


{% endblock %}