{% extends "shop/base.html" %}
<!-- humanize is used to improve the readability of the figures -->
{% load humanize %}
{% load static %}

{% block title %}
Shopping cart
{% endblock %}

{% block content %}

<style>
    /* If one hovers over the image, it gets resized (bigger) */
    #img:hover {
        width: 300px;
        height: 300px;
        /* The transition makes it look rather smooth */
        transition: 2s ease-in-out;
    }
</style>

<!-- We need to have a product in the cart and this is the case if the total price is higher than 0, as one needs to pay at least 0.01€, as that is the minimal price for a product -->
{% if cart.get_total_price > 0 %}
<!-- If we have at least one product in the users cart, we can show the cart to the user -->
<h1 class="text-success">Shopping cart</h1>
<!-- It fills the entire space the div provides -->
<div class="table-responsive">
    <table class="table cart">
        <thead>
            <!-- We define all of the table headers -->
            <tr class="border-bottom ">
                <th>Picture</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Delete</th>
                <th>Price per unit</th>
                <!-- The (total) price is displayed on the right side -->
                <th class="num text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- We go through every item in the users cart -->
            {% for item in cart %}
            <!-- with is used here to simply use product instead of item.product -->
            {% with product=item.product %}
            <tr>
                <td>
                    <!-- One can click on the image to get back to the product detail page of that particular item -->
                    <a href="{{ product.get_absolute_url }}">
                        <!-- If the product image exists, it is shown. Otherwise a image not found picture is show in its place -->
                        <img id="img"
                            src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                            height="50" width="50">
                    </a>
                </td>
                <!-- The customer can also click on the product name to get to the product detail page of that particular product -->
                <td><a href="{{ product.get_absolute_url }}" class="text-success text-decoration-none">
                        <!-- The product name is thus displayed in a colour which is used throughout our site for styling and interactions to make it more obvious to the user that he/she can interact with it -->
                        {{ product.name }}
                    </a></td>
                <td>
                    <!-- The user can click on the + to increase the quantity of that particular product by one -->
                    <form action="{% url 'cart:cart_add' product.id %}" method="post" class="pt-2">
                        <select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
                            <!-- The customer can thus take as many product as he/she needs -->
                            <option value="1">1</option>
                        </select>
                        <!-- Cross-site request forgery protection -->
                        {% csrf_token %}
                        <button type="submit" class="fas fa-plus text-dark">
                        </button>
                    </form>
                    <!-- The item quantity is displayed for every product, i.e. number of items the user wants to buy per product -->
                    {{ item.quantity }}
                    <!-- Of course, the customer can also decrease the number of items in his/her cart -->
                    <form action="{% url 'cart:cart_remove_one' product.id %}" method="post" class="pt-2">
                        <select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
                            <!-- Considering that the value might already be one before pressing the -. In that case the item gets deleted from the cart. -->
                            <!-- This is handled by the backend though -->
                            <option value="-1">1</option>
                        </select>
                        <!-- Cross-site request forgery protection -->
                        {% csrf_token %}
                        <button type="submit" class="fas fa-minus text-dark"></button>
                    </form>
                </td>
                <!-- If a user wants to delete a product from his/her cart without pressing the minus button multiple times, that option is provided as well -->
                <td><a href="{% url 'cart:cart_remove' product.id %}" class="fas fa-trash text-danger"></a></td>
                <!-- The red trash can indicates that the user can delete that item from the cart -->
                <td class="num"><span class="d-none d-md-block d-xl-block d-lg-block">{{ item.price }} €</span>
                </td>
                <!-- The total price per item is shown as well -->
                <td class="num text-right">{{ item.total_price }} €</td>
            </tr>
            {% endwith %}
            {% endfor %}
            <!-- If the user has entered a valid coupon, we need to display that information -->
            {% if cart.coupon %}
            <tr>
                <!-- Thus we add some more information to the users cart -->
                <td colspan="5"></td>
                <!-- We get the total price of the cart -->
                <td class="num border-top text-right">Total price: {{ cart.get_total_price }} €</td>
            </tr>
            <tr>
                <!-- But that is not enough, as we want to show the voucher and the new total price as well -->
                <td colspan="5"></td>
                <!-- Thus the name of the coupon code is displayed to the user -->
                <td class="num border-top text-right">Coupon code: "{{ cart.coupon.code }}"
                    <!-- Followed by the percentage discount the voucher provides -->
                    (-{{ cart.coupon.discount|floatformat:2|intcomma }}%)
                    <!-- The amount the user saves by using the voucher is shown too -->
                    -{{ cart.get_discount|floatformat:2|intcomma }} €
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td class="num border-top text-right">Total:
                    <!-- Finally, the new cart total (after using the voucher) is shown to the customer -->
                    {{ cart.get_total_price_after_discount|floatformat:2|intcomma }} €
                </td>
            </tr>
            {% else %}
            <tr>
                <!-- If no voucher was used by the customer (or it wasn't valid), -->
                <td colspan="5"></td>
                <!-- we solely need to show the total value of the goods in the users cart -->
                <td class="num border-top text-right">Total: {{ cart.get_total_price }} €</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<!-- A small form to add a coupon is shown below the cart -->
<span class="float-left">Add &nbsp</span>
<!-- The user can swap the coupon with another coupon anytime -->
<form action="{% url 'coupons:apply' %}" method="post">
    <!-- The CouponApplyForm is a simple textfield -->
    {{ coupon_apply_form }}
    <!-- One cannot send an empty string, but needs to enter a code for it to work -->
    <input class="btn btn-secondary btn w-25" type="submit" value="Coupon">
    <!-- Cross-site request forgery protection -->
    {% csrf_token %}
</form>
<!-- Just some information to the user that he/she doesn't need to try whether two or more coupons can be added to the same cart/order -->
<p class="font-weight-light text_small">You can use only one coupon per order</p>

<p class="text-right mt-4 mb-4">
    <!-- Only logged in users can purchase products in our store -->
    <!-- We wanted to allow anonymous users to checkout as well, but considering the effort which would go into securing everything,
        we decided against it for now, but that would certainly be something to add to the webshop later on -->
    {% if user.is_authenticated %}
    <!-- Thus, a logged in user can decide to get back to the shop to buy more products -->
    <a href="{% url 'shop:product_list' %}" class="button light btn btn-success btn-lg">Continue shopping</a>
    {% else %}
    <!-- If the user is not authenticated yet, the option to login or register is shown instead  -->
    <a href="{% url 'account:login' %}" class="button light btn btn-success btn-lg">Login </a>
    <strong style="font-size: large;">or</strong>
    <a href="{% url 'account:register' %}" class="button light btn btn-success btn-lg">Register</a><br />
    </br /><span class="h5">You must be logged in to make a purchase!</span>
    {% endif %}

</p>

<form method="post" class="border-top">
    <!-- Of course a logged in user has more options than just to go back to the shop -->
    {% if user.is_authenticated %}
    <!-- If he/she has products in his/her cart, the person can proceed with the checkout -->
    {% if cart.get_total_price > 0 %}
    <!-- Thus, we display the information that the delivery is free, if one buys for 65€ or more -->
    <center><i>For orders over {{ free_delivery_price }}€ shipment is free!<br /></i>
    </center>
    <!-- If the user fulfills the condition, he/she gets the message that the delivery is free -->
    {% if cart.get_total_price >= free_delivery_price %}
    <center><i>SYou are entitled to free delivery. The delivery cost will not be added to your added to your order.</i>
    </center>
    {% endif %}
    <!-- Otherwise, the user can choose between the different delivery methods -->
    <h3><i class="fas fa-truck mt-4 mb-2"></i> Shippment method</h3>
    <!-- Cross-site request forgery -->
    {% csrf_token %}
    <!-- Hence, we cycle through all of the existing delivery options -->
    {% for radio in delivery_form.delivery_type %}
    <!-- The customer can click on the radio button to choose the delivery option which suits him/her best -->
    <label for="{{ radio.name }}">
        <span class=" blockquote ml-4">{{ radio }}</span>
        <!-- Thus, the delivery method is mentioned next to the radio button -->
        {{ radio.name }}<br />
    </label>

    <br />
    {% endfor %}
    {% endif %}
    {% endif %}

    <!-- Another button to place the order is shown on the right side after the delivery method -->
    <p class="text-right">
        <!-- It is, however, only shown if the user is authenticated and has at least one product in his/her cart -->
        {% if cart.get_total_price > 0 and user.is_authenticated %}
        <!-- One could adjust the number, if a minimal value for the purchase should be set, but as our customers have to pay the delivery
            (until they reach a certain value of goods in their cart), we let the user buy as many or as little products as he/she wants -->
        <button type="submit" class="btn btn-success btn-lg">Purchase and pay</button>
        {% endif %}
    </p>
</form>

{% else %}
<!-- If the total price of the users cart is less than 0.01, that means that the user currently has no products in his/her cart -->
<h1 class="display-4 p-3 text-center"> Your cart is currently empty.</h1>
<!-- The user can click on the icon to get to the product list to start adding products to his/her cart -->
<a href="{% url 'shop:product_list' %}" style="color:darkgreen">
    <p class="text-center"><i class="fas fa-cart-plus display-1 p-4 text-center"></i></p>
</a>

{% endif %}

{% endblock %}