{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Order processed successfully
{% endblock %}

{% block content %}

<div>
	<h3>Thank you for shopping GreenOasis!</h3> <br />
	<!-- The user receives the message regarding his/her purchase -->
	{{ message }}
	<br /> <br />
	<!-- The customer needs to know his/her order number, if something goes wrong - e.g. needed for complaints -->
	<h3>Your order number is: {{ order.id|stringformat:"06d" }}</h3> <br />
	<!-- The customer can view his/her order history, which at least includes the currently placed order -->
	<a href="{% url 'profile:show_orders' %}" style="color:darkgreen"><strong>Display order history</strong></a>
	<p></p>
	<!-- Moreover, the user has the option to get back to the front page -->
	<p><strong>Zurück zur <a href="/" style="color:green">Frontpage</a>.</strong></p>
	<br />
</div>

<!-- Newsletter subscription -->
<center>
	<a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
			width='60%' /></a>
</center> <br />

{% endblock %}