{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<style>
    /* If one hovers over the image, it is enlarged */
    #img:hover {
        width: 300px;
        height: 300px;
        /* The transition is used to make it look more smooth */
        transition: 2s ease-in-out;
    }

    a {
        color: black;
    }
</style>

<h3>Order summary</h3>
<!-- The information from the cart is shown once more -->
<div class="table-responsive">
    <table class="table cart" style="width:100%">
        <thead>
            <tr class="border-bottom">
                <!-- First the table headers are defined -->
                <th>Picture</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price per unit</th>
                <!-- With the price being shown on the right side -->
                <th class="num text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- If the price of the order is more than 0, as it needs to be -->
            {% if order.price > 0 %}
            <!-- We loop through all of the items in the order -->
            {% for component in components %}
            <!-- and name component.prodct product to keep the code more compact -->
            {% with product=component.product %}
            <!-- Afterwards we fill the table with the relevant product data -->
            <tr>
                <td>
                    <!-- Starting with the image of the product or a image not found picture, if no product image was defined -->
                    <img id="img"
                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                        height="50" width="50">
                </td>
                <!-- The product name and the quantity -->
                <td>{{ product.name }}</td>
                <!-- We need to use component and not product here as the quantity has nothing to do with the product but with the order -->
                <td>{{ component.quantity }}</td>
                <!-- If the product has a new_price set, i.e. its offered to a cheaper price than usual -->
                {% if product.new_price != 0 %}
                <!-- The new price is shown on the right side -->
                <td>{{ product.new_price }} €</td>
                <td class="num text-right">{% widthratio product.new_price 1 component.quantity %}</td>
                {% else %}
                <!-- Otherwise the old price is shown on the right side -->
                <td>{{ product.price }} €</td>
                <td class="num text-right">{% widthratio product.price 1 component.quantity %}</td>
                {% endif %}
            </tr>
            <!-- That's all of the data for the order summary -->
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- More data is shown on the right side -->
<div class="text-right border-top">
    <!-- The value of the bought products is shown to the customer -->
    <h4 class="mt-3 mb-3">Value: {{ order.price }} €</h4>
    <!-- If the customer used a voucher that is shown as well -->
    {% if order.discount > 0 %}
    <!-- In this case not the percentage, but the money one has saved, is shown -->
    <h4 class="mt-3 mb-3">Coupon: -{{ order.discount }} €</h4>
    {% endif %}
    <!-- The delivery price is shown to the customer as well -->
    <h4 class="mt-3 mb-3">Shipping cost: {{ order.delivery_price }} €</h4>
    <!-- And finally the total price is shown to the customer -->
    <h4 class="mt-3 mb-3 border-top">Total: {{ order.total_price }} €</h4>
    <!-- Otherwise the user has not chosen any products -->
    {% else %}
    <h3>You have not selected any products for purchase!</h3>
    {% endif %}

</div>

<h3>Possible payment methods</h3>
<!-- The user can choose between three different payment options -->
<div class="card-body p-5">
    <!-- The tablist is used to only show the option the customer should see right away -->
    <ul class="nav nav-pills rounded nav-fill mb-3" role="tablist">
        <!-- One of the offered payment options is PayPal -->
        <li class="nav-item">
            <!-- The PayPal option will be chosen by default, but of course can be changed by the customer -->
            <a class="nav-link active" data-toggle="pill" href="#nav-tab-paypal">
                <i class="fab fa-paypal"></i> PayPal</a>
        </li>
        <!-- The customer can choose to pay with credit card -->
        <!-- Prepayment/bank transfer is another option -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                <i class="fa fa-university"></i> Advance payment (Bank transfer)</a>
        </li>
        <li class="nav-item">
            <!-- Cash on delivery is another payment option, thouh if the user already paid an order before, he/she will be set to purchase on invoice -->
            <a class="nav-link" data-toggle="pill" href="#nav-tab-cash-on-delivery">
                <i class="fas fa-cube"></i> Invoice / Cash on delivery</a>
        </li>
        <!-- One can also collect the products form our store -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#nav-tab-collection">
                <i class="far fa-money-bill-alt"></i> Payment upon collection</a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- For the collection option more information is provided -->
        <div class="tab-pane fade" id="nav-tab-collection">
            <!-- For one, the different payment options are shown -->
            <h4 style="color:green">Payment options on site</h4>
            <ul>
                <li>
                    Cash
                </li>
                <li>
                    Payment by EC card
                </li>
                <li>
                    Credit card payment
                </li>
                <li>
                    Payment with Google Pay or Apple Pay
                </li>
            </ul>
            <div style="text-align:center">
                <!-- Moreover, the pickup times and address are shown as well. -->
                <h3 style="color:green">Pick-up times</h3>
                Monday von 9-15 <br />
                Tuesday von 10-16 <br />
                Wednesday von 9-15 <br />
                Thursday von 9-15 <br />
                Friday von 9-12 <br />
            </div>
            <br />
            <form action="{% url 'cart:collection' %}">
                <!-- Cross-site request forgery protection -->
                {% csrf_token %}
                <button class="btn btn-success btn-block" type="submit">
                    Bestätigen</button>
            </form>

        </div> <!-- tab-pane.// -->
        <div class="tab-pane fade show active" id="nav-tab-paypal">
            <p>Paypal is the easiest way to pay for online purchases.</p>
            <p>
                <!-- PAYPAL -->
            <form method="post">
                <!-- Cross-site request forgery protection -->
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg"><span class="h4">Pay with:
                    </span> <i class="fab fa-paypal h2"></i></button>
            </form>
            </p>
            <!-- A small information for the customer -->
            <p><strong>Note:</strong> Please complete the payment by Paypal in full. </p>
        </div>
        <div class="tab-pane fade" id="nav-tab-bank">
            <!-- Bank account information from GreenOasis -->
            <h5>Bank account information:</h5><br />
            <dl class="param">
                <dt>BANK:</dt>
                <dd> UmweltBank Nürnberg</dd>
            </dl>
            <dl class="param">
                <dt>IBAN:</dt>
                <dd> DE76 1881 0780 5419 6268 88</dd>
            </dl>
            <dl class="param">
                <dt>BIC:</dt>
                <dd> UMWEDE7NXXX</dd>
            </dl>
            <dl class="param">
                <dt>Verwendungszweck:</dt>
                <dd> {{ order.id|stringformat:"06d" }}</dd>
            </dl>
            <!-- The customers should pay on time. -->
            <p><strong>Note: Please pay within 3-4 days.</strong>
            </p>
            <form action="{% url 'cart:order_bank_transfer' %}">
                <!-- Cross-site request forgery protection -->
                {% csrf_token %}
                <button class="btn btn-success btn-block" type="submit">
                    Confirm</button>
            </form>
        </div> <!-- tab-pane.// -->
        <div class="tab-pane fade" id="nav-tab-cash-on-delivery">
            <!-- Information on when cash on delivery and when purchase on invoice are chosen -->
            <p>If you have already placed an order with GreenOasis, this option is free of charge for you.
            </p>
            <p>If you have not yet completed an order with GreenOasis, a cash on delivery fee of <strong> 6,90
                    € </strong> is due, which is to be handed over to the shipping company including the invoice amount.
            </p>
            <form action="{% url 'cart:cash_on_delivery' %}">
                <!-- Cross-site request forgery protection -->
                {% csrf_token %}
                <button class="btn btn-success btn-block" type="submit">
                    Confirm</button>
            </form>
        </div>
    </div> <!-- tab-content .// -->

</div> <!-- card-body.// -->
</article> <!-- card.// -->


</aside> <!-- col.// -->
</div> <!-- row.// -->

</div>
<!--container end.//-->

{% endblock %}