{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}
{% load static from staticfiles %}

{% block extrahead %}
{{ block.super }}
<script src="{% url 'admin:newsletter_js18n' %}" type="text/javascript"></script>
<script src="{% static 'newsletter/admin/js/subscriber_lookup.js' %}" type="text/javascript"></script>
<script src="{% static 'newsletter/admin/js/submit_interface.js' %}" type="text/javascript"></script>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}

<!-- Wasn't actually used -->
<li><a href="{% url opts|admin_urlname:'submit' original.pk %}" id="submitlink">Übermitteln</a></li>
{% endblock %}

{% block after_related_objects %}{{ block.super }}
<script type="text/javascript">
  django.jQuery(window).load(function () {
    JsonSubscribers.init('id_message'{% if add %}, add = true{% endif %});
  // We decided to use the admin panel instead, as sending mails is way easier from there (though the setup was tedious)
  SubmitInterface.init('#submitlink');
}
</script>{% endblock %}