{% extends "shop/base.html" %}
{% load static %}
<!DOCTYPE html>
<!-- ltr means from left to right -->
<html lang="de" dir="ltr">

{% block content %}

<head>
    <meta charset="utf-8">
    <title>Ask a question</title>
    <!-- We have created a small css file to adjust the page somewhat -->
    <link rel="stylesheet" href="{% static 'css/q+a.css' %}">
</head>

<body>
    <div class="content">
        <h1>Ask a question</h1>
        <!-- It is possible to use Markdown (and HTML), since we have created a Whitelist with allowed commands -->
        <p>Enter your question below. You can also use Markdown to format your question.</p>
        <p><a href="{% url 'questions' %}" style="color:darkgreen">Back to the Q&A</a></p>
        </a>
        <!-- In this case we have added the action to ensure that it is carried out correctly -->
        <form action="{% url 'askquestion' %}" method="post">
            <!-- Cross-site request forgery protection -->
            {% csrf_token %}
            <!-- The form is simply written in this HTML code, as it is solely a very simple Q&A, which can be seen as a small incentive for using GreenOasis  -->
            <input type="text" name="title" value="" autocomplete="off" placeholder="Title of your question">
            <p></p>
            <!-- The question has a defined size of rows and columns to ensure that it can be filled easily without looking off -->
            <textarea name="question" rows="8" cols="80" placeholder="Your question"></textarea>
            <p></p>
            <!-- The empty paragraph -->
            <input type="text" name="posted_by" value="" autocomplete="off" placeholder="Your name">
            <p></p>
            <!-- Submit is needed to ensure that the form is sent -->
            <input class="btn btn-success" type="submit" name="ask" value="Ask a question">
        </form>
        <!-- Of course errors can occur and those are shown to the user -->
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
{% endblock %}

</html>