{% extends "shop/base.html" %}
{% load static %}
<!DOCTYPE html>
<!-- ltr stands for "from left to right" -->
<html lang="de" dir="ltr">

{% block content %}

<head>
    <meta charset="utf-8">
    <title>Questions and answers</title>
    <!-- Shows all questions -->
    <link rel="stylesheet" href="{% static 'css/q+a.css' %}">
</head>

<body>
    <h1>Questions and answers about green energy solutions</h1>
    <div>
        <!-- Of course, every user - with or without an account, is allowed to ask questions -->
        Haben Sie selbst eine Frage? <a href="{% url 'askquestion' %}" style="color:goldenrod">Ask a question</a>
    </div><br />
    <div class="content">
        <div class="nav"></div>
        <!-- All questions are shown below with their respective title -->
        {% for question in questions %}
        <div class="question">
            <!-- If one clicks on the title, the entire question with corresponding answers is shown -->
            <a href="{% url 'viewquestion' question.qid question.slug %}" style="color:darkgreen">
                <h1>{{ question.question_title }}</h1>
            </a>
            <!-- Only a small glimpse of the question is shown and one has to click on it to read more and to view the answers -->
            <p>{{ question.question_text|truncatechars:300|slice:"-4" }}...</p>
        </div>
        {% endfor %}
    </div>
    <br />
    <center>
        <!-- Newsletter registration is possible via a click on the self-designed image -->
        <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
                width='60%' /></a>
    </center><br />
</body>
{% endblock %}

</html>