{% extends "shop/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="de" dir="ltr">

{% block content %}

<head>
    <!-- If one answers a question, he/she is brought to this thank you page -->
    <meta charset="utf-8">
    <title>Thank you for your answer</title>
    <link rel="stylesheet" href="{% static 'css/q+a.css' %}">
</head>

<body>
    <h1>Your answer has been added. Thank you very much!</h1>
    <br />
    <button class="btn btn-success" onclick="goBack()">Go back to the question</button>
    <br /><br />
    <!-- Where they are thanked and asked, if they want to return to the Q&A -->
    <a href="{% url 'questions' %}" style="color:darkgreen">
        <h4>Would you like to go back to the Q&A?</h4>
    </a>
    <!-- or whether they woul like to check out our shop -->
    <a href="{% url 'shop:product_list' %}" style="color:darkgreen">
        <h4>Or would you like to browse our webshop?</h4>
    </a>
    <br />
    <center>
        <!-- Newsletter registration is possible via a click on the self-designed image -->
        <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
                width='60%' /></a>
    </center><br />
</body>

<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}

</html>