{% extends "shop/base.html" %}
<!-- extends always needs to be in the first line -->
{% load static %}
<!DOCTYPE html>
<!-- ltr stands for "from left to right" -->
<html lang="de" dir="ltr">

<!-- content is written inbetween navbar and footer -->
{% block content %}

<head>
    <meta charset="utf-8">
    <!-- The title is the question title in this case -->
    <title>{{ question.question_title }} - Questions and answers </title>
    <!-- q+a has its own css file -->
    <link rel="stylesheet" href="{% static 'css/q+a.css' %}">
</head>

<body>
    <div class="content">
        <!-- Of course the question title is also shown as one of the first elements  -->
        <h1>{{ question.question_title }}</h1>
        <!-- Safe tells Django that it does not have to check the post anymore, as we have already done that with JS and our whitelist -->
        <p>{{ question.question_text|safe }}</p>
        <!-- When and from whom was the question published -->
        <p class="questiondetails"><span style="float: left">Published at: <strong>
                    {{ question.date_posted }}</strong></span><span style="float: center">&nbsp;
                Erstellt von: <strong>
                    {{ question.posted_by }}</strong></span></p><br />
        <!-- If answers exist, they are shown below the question -->
        <div id="answers">
            {% for answer in answers %}
            <!-- Again it is already checked/safe and thus Django does not have to recheck it anymore, as bleach holds our defined whitelist -->
            {{ answer.answer_text|safe }}
            <!-- When and from whom was the answer published -->
            <p class="answerdetails"><span style="float: left">Published at: <strong>
                        {{ answer.date_posted}}</strong></span><span style="float: center">&nbsp;
                    Erstellt von: <strong>
                        {{ answer.posted_by }}</strong></span></p>
            {% endfor %}
        </div>
        <!-- We need a cross-site request forgery check -->
        {% csrf_token %}
        <form class="reply" action="{% url 'ajaxanswerquestion' %}" method="post">
            <!-- It is a reply as one answers a question and as before a textarea with a given size is shown to the user -->
            <textarea name="answer" id="answer" rows="8" cols="80" placeholder="What is your answer?"></textarea>
            <p></p>
            <!-- An empty paragraph is bigger than a break but smaller than two breaks -->
            <input type="text" id="posted_by" name="posted_by" value="" autocomplete="off" placeholder="Your name">
            <p></p>
            <input type="hidden" id="qid" name="qid" value="{{ question.qid }}">
            <!-- The qid is the question id -->
            <button name="answer_question" id="answer_question" class="btn btn-success">Answer the question</button>
            <!-- </form> -->
            {% if error %}
            <!-- Errors are displayed to the user -->
            <p class="error">{{ error }}</p>
            {% endif %}
    </div>

    <br />
    <center>
        <!-- Newsletter registration is possible via a click on the self-designed image -->
        <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
                width='60%' /></a>
    </center><br />

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
    <script type="text/javascript">
        // AJAX is used to sent the form
        var csrftoken = getCookie("csrftoken");

        $('#answer_question').click(function (e) {
            e.preventDefault();
            $.post(
                "/ajax-answer-question",
                // We have to get our JSON code as a String and retrieve all the needed values
                JSON.stringify({
                    answer: $("#answer").val(),
                    posted_by: $("#posted_by").val(),
                    qid: $("#qid").val(),
                }),
                function (data, success) {
                    if (data["Success"]) {
                        // If everything worked according to plan the answer is posted/saved
                        var answer = '<p class="answer">' + $("#answer").val() + '</p><p class="answerdetails"><span style="float: left"></span><span style="float: right">Posted by <strong>' + $("#posted_by").val() + '</strong></span></p>';
                        $('#answers').append(answer)
                        // Otherwise a error message is displaye
                    } else {
                        console.log("Error")
                    }
                }
            );
        });

        $(document).ready(function () {
        });

    </script>

</body>
{% endblock %}

</html>