{% extends "shop/base.html" %}
{% load static %}

{% block title %}Abgemeldet{% endblock %}

{% block content %}
<h1 class="display-4 p-4 text-center">Ausgeloggt</h1>
<!-- Nutzer wird nach einer gewissen Zeit er Inaktivität, Leeren des Caches oder beim manuellen Abmelden ausgeloggt und wird hier hierüber informiert -->
<p class="display-5 p-4 text-center">Sie sind abgemeldet worden. <br /> Sie haben etwas vergessen? Dann können Sie sich
        jederzeit wieder <a class="text-success" href="{% url 'account:login' %}">anmelden</a>.</p>

<!-- Newsletter subscription -->
<center>
        <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
                        width='60%' /></a>
</center> <br />
{% endblock %}