{% extends "shop/base.html" %}

{% block title %}Anmeldung{% endblock %}

{% block content %}


<!-- To overwrite django.auth - just as with Bootstrap, one needs to have the CSS code inside the template -->
<style>
	.login-page {
		width: 360px;
		padding: 8% 0 0;
		margin: auto;
	}

	.form {
		position: relative;
		z-index: 1;
		background: #FFFFFF;
		max-width: 360px;
		margin: 0 auto 100px;
		padding: 45px;
		text-align: center;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}

	.form input {
		outline: 0;
		background: #f2f2f2;
		width: 100%;
		border: 0;
		margin: 0 0 15px;
		padding: 15px;
		box-sizing: border-box;
		font-size: 14px;
	}

	.form button {
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background: #007bff;
		width: 100%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
	}

	.form button:hover,
	.form button:active,
	.form button:focus {
		background: #007bff;
	}

	.form .message {
		margin: 15px 0 0;
		color: #b3b3b3;
		font-size: 12px;
	}

	.form .message a {
		color: #007bff;
		text-decoration: none;
	}

	.form .register-form {
		display: none;
	}

	.container {
		position: relative;
		z-index: 1;
		margin: 0 auto;
	}

	.container:before,
	.container:after {
		content: "";
		display: block;
		clear: both;
	}

	.container .info {
		margin: 50px auto;
		text-align: center;
	}

	.container .info h1 {
		margin: 0 0 15px;
		padding: 0;
		font-size: 36px;
		font-weight: 300;
		color: #1a1a1a;
	}

	.container .info span {
		color: #4d4d4d;
		font-size: 12px;
	}

	.container .info span a {
		color: #000000;
		text-decoration: none;
	}

	.container .info span .fa {
		color: #EF3B3A;
	}

	ul {
		list-style-type: none;

	}

	li {

		text-align: left;
	}
</style>

<script>
	$('.message a').click(function () {
		$('form').animate({
			height: "toggle",
			opacity: "toggle"
		}, "slow");
	});
</script>

{% if user.is_authenticated %}
<div style="text-align: center;">Sie sind aktuell mit dem Account
	<span style="color:olivedrab">{{ user.username }}</span> angemeldet. <br />
	<br />
	Falls Sie sich mit einem anderen Account anmelden möchten, melden Sie sich zuvor bitte ab.
	<br /> <br />
	<a href="{% url 'account:logout' %}" class="button
							light btn btn-success text-white">Abmelden</a>
</div> <br /> <br />
{% else %}


<div class="login-page">
	<!-- This div defines the look of the form -->
	<div class="form">
		<h1 class="text-success">Anmelden</h1>
		<form class="register-form">
			<input type="text" placeholder="Name" />
			<input type="password" placeholder="Passwort" />
			<input type="text" placeholder="E-Mail-Address" />
			<button>Erstellen</button>
		</form>
		<!-- That is the actual form / data from the forms.py, as one shouldn't have the form in the template -->
		<form action="" method="post" class="login-form">
			<!-- One could have also used crispy_tags, but we found this look more fitting -->
			{{ form.as_p }}
			<!-- Cross-site-request forgery protection -->
			{% csrf_token %}
			<p><input class="bg-success text-white" type="submit" value="Anmelden"></p>
			<!-- If one has an account, but cannot login, since they e.g. forgot their password, they can set a new password -->
			<p class="message"><a href="{% url 'password_reset' %}" class="text-success">Passwort zurücksetzen</a></p>
			<!-- Of course, people who have no password, could also land on this page and thus a simple 'redirect' is provided for them -->
			<p class="message">Wenn Sie noch kein Konto haben <a href="{% url 'account:register' %}"
					class="text-success">registrieren Sie sich.</a>
			</p>
		</form>
	</div>
</div>
{% endif %}
{% endblock %}