{% extends "shop/base.html" %}
{% load static %}

{% block content %}
{% load static %}

<!-- Crispy_forms_tags are used to make the forms look nicer without much manual labour -->
{% load crispy_forms_tags %}

<!--Password Reset Confirm-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Passwort zurücksetzen</h2>
    <hr>
    <!-- If the Python backend provides a form, it gets displayed below -->
    <!-- You're wondering why no form should be provided? -->
    <!-- That's due to the fact that the link is solely valid once. After the link has been openend once, it won't work anymore.-->
    {% if form %}
    <p>Bitte geben Sie Ihr neues Passwort ein.</p>
    <form method="POST">
        <!-- Cross-site-request-forgery protection -->
        {% csrf_token %}
        <!-- In this case the form is displayed 'crispy', which makes it look way nicer -->
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">
            Passwort zurücksetzen
        </button>
    </form>
</div>
<!-- If the link was already opened once, it is no longer valid and thus the information below, as well as the option to reset the password are displayed below -->
{% else %}
<p>Der Link ist bereits abgelaufen. Bitte fordern Sie <a href="{% url 'password_reset' %}">hier</a> einen neuen
    Link an, wenn Sie Ihr Passwort ändern möchten.</p>
</div>
{% endif %}
<!-- Newsletter to register - after clicking on the self-designed image one can register his/her email address -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />
{% endblock %}