{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!--Password reset sent-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">E-Mail zur Passwortänderung versendet!</h2>
    <hr>
    <!-- If one needs a new password, they have to enter their email address in the previous page and afterwards, they get redirected to this page, which informs them about the sent mail -->
    <p>Wir haben Ihnen eine Anleitung zum Einrichten Ihres neuen Passworts per E-Mail geschickt, falls ein Konto mit der
        von Ihnen eingegebenen E-Mail-Adresse existiert. Sollten Sie keine E-Mail erhalten, vergewissern Sie sich bitte,
        dass Sie die E-Mail-Adresse eingegeben haben, mit der Sie sich registriert haben und überprüfen Sie Ihren
        Spam-Ordner. </p>
</div>

<!-- Newsletter subscription -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center> <br />

{% endblock %}