{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<!--Password Reset Complete-->
<div class="container p-4">
    <h2 class="font-weight-bold mt-3">Passwort erfolgreich zurückgesetzt!</h2>
    <hr>
    <!-- Once the password was changed, the user needs to login again. Should he/she need to change the password again, they of course can restart the process anytime. -->
    <p>Ihr Passwort wurde geändert. Sie können sich jetzt anmelden.</p>
    <a href="{% url 'account:login' %}" class="btn btn-success">Anmelden</a>
</div>

<!-- Newsletter subscription -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center> <br />

{% endblock %}