{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}

<!-- We tried to put it into a seperate file, but it didn't work -->
<!-- You'll occasionally find style tags inside the HTML code, as they are needed there to overwrite Bootstrap.
        It just doesn't work outside the HTML file (with solely a reference) either. -->
<script>

    function magnify(imgID, zoom) {
        // this function show a magnifying lens over the image
        var img, glass, w, h, bw;
        // We only use it on the images with the imgID
        img = document.getElementById(imgID);
        // Therefore we create a div
        glass = document.createElement("DIV");
        // which gets the class attribute image magnifier glass
        glass.setAttribute("class", "img-magnifier-glass");
        // The lense is shown above the image for obvious reasons 
        img.parentElement.insertBefore(glass, img);
        // The background is the image itself
        glass.style.backgroundImage = "url('" + img.src + "')";
        // and the background does not repeat itself therefore
        glass.style.backgroundRepeat = "no-repeat";
        // We set the background size
        glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
        // binary image
        bw = 3;
        // define width
        w = glass.offsetWidth / 2;
        // define height
        h = glass.offsetHeight / 2;
        // If the mouse moves over the image we need to show the lense
        glass.addEventListener("mousemove", moveMagnifier);
        // but we also have to increase the picture size - well only the part which is inside the magnifying lense
        img.addEventListener("mousemove", moveMagnifier);

        /*It also has to work with touch screens, as our website needs to be responsive:*/
        glass.addEventListener("touchmove", moveMagnifier);
        // Also for the lense and image of course
        img.addEventListener("touchmove", moveMagnifier);

        // It's just like JAVA SWING - or AWT - honestly, potentially somewhat more like AWT...
        function moveMagnifier(e) {
            var pos, x, y;
            e.preventDefault();
            pos = getCursorPos(e);
            // gets cursor positions

            x = pos.x;
            y = pos.y;

            // adjust the magnification

            if (x > img.width - (w / zoom)) {
                x = img.width - (w / zoom);
            }
            if (x < w / zoom) {
                x = w / zoom;
            }
            if (y > img.height - (h / zoom)) {
                y = img.height - (h / zoom);
            }
            if (y < h / zoom) {
                y = h / zoom;
            }
            // Kinda a combination of SWING and AWT, but in JavaScript
            glass.style.left = (x - w + 150) + "px";
            glass.style.top = (y - h + 40) + "px";
            glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
        }

        function getCursorPos(e) {
            var a, x = 0,
                y = 0;
            // We need to get the coursor position to use the function at the right place
            e = e || window.event;
            a = img.getBoundingClientRect();
            // We also need to take into consideration that the image does not fill the entire screen
            x = e.pageX - a.left;
            y = e.pageY - a.top;
            x = x - window.pageXOffset;
            y = y - window.pageYOffset;
            // and return the cursor position in the end
            return {
                x: x,
                y: y
            };
        }
    }

</script>

<!-- The style below is used to increase the extra photos, as the magnifying class isn't working too well there -->
<style>
    #myImg:hover {
        width: 500px;
        height: 500px;
        transition: 1s ease-in-out;
    }
</style>
<!-- A nice little carousel for the product image(s) to bring some style to our webpage -->
<div class="product-detail row">
    <div id="foto" class="col-md-6 text-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner img-magnifier-container">
                <div class="carousel-item active">
                    <!-- If we can find the product image, we will show it, otherwise we will show the image not found picture -->
                    <img id="myimage" class="text-center" width=60%
                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                        class="d-block w-100">
                </div>
                <!-- We loop through all extra photos - if they exist -->
                {% for photo in extra_photos %}
                <!-- and show the photos as another item in the carousel -->
                <div class="carousel-item">
                    <img id="myImg" class="text-center" src="{{ photo.image.url }}" widht=400px height=400px>
                </div>
                {% endfor %}
            </div>
            <!-- carousel buttons -->
            <button id="slider-button" class="carousel-control-prev bg-success" href="#carouselExampleControls"
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Vorherige</span>
            </button>
            <button id="slider-button" class="carousel-control-next bg-success" href="#carouselExampleControls"
                role="button" data-slide="next">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="sr-only">Nächste</span>
            </button>
        </div>

    </div>
    <!-- Time for some actual information about our products -->
    <div id="text" class="col-md-6 pb-4">
        <!-- starting, of course, with the product name -->
        <h1 class="text-success">{{ product.name }}</h1>
        <!-- followed by its price, which could be reduced -->
        {% if product.new_price != 0 %}
        <!-- If the value of new_price is not zero, the price was indeed reduced -->
        <span class="h2 price mb-3 font-weight-bold">{{ product.new_price }} € </span>
        <!-- We also show the old price and cross it out to show the reduction -->
        <s><span class="price mb-3">
                <h5>{{ product.price }} €</h5>
            </span></s>
        {% else %}
        <!-- Otherwise the price wasn't changed and it can simply be shown -->
        <h2 class="price mb-3">{{ product.price }} €</h2>
        {% endif %}
        <!-- Add a specified number of items to the cart -->
        <form action="{% url 'cart:cart_add' product.id %}" method="post" class="pt-2">
            <!-- as_p is used to get the form as a paragraph -->
            {{ cart_product_form.as_p }}
            <!-- Cross-site request forgery protection -->
            {% csrf_token %}
            <!-- Submit to cart button -->
            <button type="submit" class="btn btn-block btn-success bg-success btn-circle btn-icon-left" value="Add">
                <i class="fa fa-shopping-cart fa-lg"></i> Add </button>
            <!-- Add the product to the wishlist -->
            <br /><a href="{% url 'shop:add_to_wishlist' product.slug %}" class="text-success"><i
                    class="fas fa-heart">&nbsp;Add to wish list</i></a><br /><br />
            <!-- Delete the product from the wishlist -->
            <a href="{% url 'shop:delete_from_wishlist' product.slug %}" class="text-success"><i
                    class="fas fa-minus-circle">&nbsp;Remove from wishlist</i></a>
        </form>

    </div>
</div>

<!-- Information about the product itself -->
<div id="specification" class="col-md-12 border-top">
    <p class="display-4 text-success">Product description</p>
    <div id="text-size">
        <!-- The product description is shown with linebreaks, since it looks way better than without them -->
        {{ product.description|linebreaks }}
    </div>
    <!-- Further information about the product and its potentially needs/care -->
    <p class="display-4 text-success">Technical data</p>

    <table id="text-size" class="table table-hover text-center">
        <tbody>
            <!-- Ever description for the specific product is looped through -->
            {% for description in descriptions %}
            <!-- The parameter (name) is shown -->
            <td>{{ description.parameter }}</td>
            <!-- Followed by the description itself -->
            <td>{{ description.description }}</td>
        </tbody>
        {% endfor %}
    </table>
</div>

<!-- Rating/Review of the product with "automatic" transformation to stars -->
<div id="rating" class="col-md-12 border-top mt-4">
    <!-- Potentially ratings exist or a logged in user wants to write a review -->
    <p class="display-4 text-success">Product ratings </p>
    <!-- Thus we loop through all reviews for that product -->
    {% for review in reviews %}
    <div id="score">
        <!-- and show the author - not his first- and surname, but the username -->
        <div id="autor"> {{ review.user.username }} </div>
        <br>
        <!-- Followed by the rating which is put into stars, as those look better and are usually used to represent the rating -->
        {% if review.rating == 1 %}
        <div id="review">★</div><br>
        {% endif %}
        {% if review.rating == 2 %}
        <div id="review">★★</div><br>
        {% endif %}
        {% if review.rating == 3 %}
        <div id="review">★★★</div><br>
        {% endif %}
        {% if review.rating == 4 %}
        <div id="review">★★★★</div><br>
        {% endif %}
        {% if review.rating == 5 %}
        <div id="review">★★★★★</div><br>
        {% endif %}
        <!-- The review itself is displayed below the stars -->
        <div id="comment">
            <span>
                {{ review.body }}
            </span>
        </div>
        <!-- The one who writes the review can also delete it -->
        {% if review.user == user %}
        <!-- with a simple button cklick -->
        <a class="btn btn-success" href="{% url 'shop:delete_review' review.id %}">Delete</a>
        {% endif %}

    </div>
    <!-- If there are no reviews as of now, a message is displayed in their place -->
    {% empty %}
    <p>There are no reviews for this product yet. </p>
    {% endfor %}

</div>
<!-- Only logged in users are allowed to write reviews -->
<div id="rezension" class="col-md-12 border-top mt-4">
    {% if user.is_authenticated %}
    <!-- users_reviews is the count of the reviews and if it exists, it is shown -->
    {% if users_reviews %}
    {% else %}
    <!-- A new review can be added from logged in users, who haven't written a review for that specific product yet -->
    {% if new_review %}
    {% else %}
    <p class="display-4">Add a new rating: </p>
    <form action="" method="post">
        <p>
            <!-- We've created a textarea and adjusted its size -->
            <textarea id="id_textbox" type="text" name="body" maxlength="1000" required></textarea>
        </p>
        <!-- The ReviewForm is in the forms.py and in this case we choose a number (integer) from 1 to 5 -->
        {{ review_form.rating }} <br> <br>
        <!-- Cross-site request forgery -->
        {% csrf_token %}
        <input type="submit" class="btn btn-success" value="Rezension abschicken">
    </form>
    {% endif %}
    {% endif %}
    {% else %}
    <!-- We inform a user who isn't logged in that he/she can only write reviews, if they log-in -->
    <h4 class="text-center pt-4">You must log in to write reviews.</h4>
    {% endif %}
</div>

<!-- Recommendations do not need to be shown for all products, though they are in our case -->
{% if recommendations %}
<p class="display-4 p-2 text-success">Product recommendations</p>
<!-- We called the class recommended, but as you will see below we did also use it for similar products, as the style is the same -->
<div id="recommend" class="product-list row  col-md-12 mb-2 mt-4 text-center">
    <!-- Of course information about every item in the recommendations is needed -->
    {% for item in recommendations %}
    <!-- We have a maximum of 4 product recommendations - as more do not fit in one row -->
    <div class="item col-md-3 mb-2 mt-4">
        <!-- The link to the recommended product is used, so that the customer can easily get to the recommended product page -->
        <div id="img" class=" text-center">
            <!-- It is shown along with the image -->
            <a href="{% url 'shop:product_detail' item.id item.slug %}">
                <!-- Unless the image wouldn't exist. In that case the image not found picture would be shown -->
                <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                    class="img-fluid p-2">
                <div id="description">
                    <!-- The item name is shown below the image -->
                    <p class="text-overflow text-uppercase text-decoration-none  text-success">{{ item.name }} </p>
                </div>
            </a>
        </div>
        <!-- Afterwards the product price is shown -->
        <div id="price" class="pl-2">
            <!-- If the new_price is zero, there is no price reduction -->
            {% if item.new_price == 0 %}
            <!-- Thus, the normal price is shown -->
            <h4> {{ item.price }} €</h4>
            {% else %}
            <!-- Otherwise the new price is shown -->
            <h4> {{ item.new_price }} €
                <!-- Along with the percentage discount, which is written in red to highlight it -->
                <span class="font-weight-bold text-danger">-{{ item.sales_percent }}%</span>
            </h4>
            {% endif %}
        </div>
        <div class="pl-2">
            <!-- One can add the product to the cart right away, if one wants to -->
            <!-- The customer has the option to add the product to the cart -->
            <form action="{% url 'cart:cart_add_one' item.id %}" method="post" class="pt-2">
                <select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
                    <!-- In this case they can only add the item to the cart once, which is usally what the customer wants (and it looks somewhat better) -->
                    <option value="1">1</option>
                </select>
                <!-- Cross-site request forgery protection -->
                {% csrf_token %}
                <!-- Add to cart button -->
                <button type="submit" class="btn btn-block btn-success bg-success btn-circle btn-icon-left" value="Add">
                    <i class="fa fa-shopping-cart fa-lg"></i> Add
                </button>
            </form>
        </div>


    </div>

    {% endfor %}

</div>

{% endif %}

{% if similar %}
<!-- If similar products exist, which do always exist in our case, they are shown below -->
<p class="display-4 p-2 text-success">Similar products</p>
<!-- The id is recommend as it is identical to the recommendations from its style and functionality -->
<div id="recommend" class="product-list row  col-md-12 mb-2 mt-4 text-center">
    <!-- There is also a maximum of 4 products shown, as more products cannot be shown in one row -->
    {% for product in similar %}
    <!-- At least not in a visually appealing manner -->
    <div class="item col-md-3 mb-2 mt-4">
        <!-- We align everything in the center -->
        <div id="img" class=" text-center">
            <!-- The customer can click on the product to see the product details page -->
            <a href="{% url 'shop:product_detail' product.id product.slug %}">
                <!-- If a image exist, it is shown. Otherwise the image not found picure is shown -->
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                    class="img-fluid p-2">
                <div id="description">
                    <!-- The product name is shown right below the image -->
                    <p class="text-overflow text-uppercase text-decoration-none font-weight-ligh text-success">
                        {{ product.name }}
                    </p>
                </div>
            </a>
        </div>
        <!-- Followed by the price -->
        <div id="price" class="pl-2">
            <!-- If the price is 0 no reduction is granted -->
            {% if product.new_price == 0 %}
            <!-- Thus the price is simply shown -->
            <h4> {{ product.price }} €</h4>
            {% else %}
            <!-- If the price was reduced, we show the new price -->
            <h4> {{ product.new_price }} €
                <!-- and the percentage change in red to alert the customer that the product is on sale -->
                <span class="font-weight-bold text-danger">
                    -{{ product.sales_percent }}%</span>
            </h4>
            {% endif %}
        </div>
        <div class="pl-3">
            <!-- The option to add the product to the cart is shown -->
            <form action="{% url 'cart:cart_add_one' product.id %}" method="post" class="pt-2">
                <select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
                    <!-- In this case they can only add the item to the cart once, which is usally what the customer wants (and it looks somewhat better) -->
                    <option value="1">1</option>
                </select>
                <!-- Cross-site request forgery protection -->
                {% csrf_token %}
                <!-- Add to cart button -->
                <button type="submit" class="btn btn-block btn-success bg-success btn-circle btn-icon-left" value="Add">
                    <i class="fa fa-shopping-cart fa-lg"></i> Add
                </button>
            </form>
        </div>
    </div>

    {% endfor %}

</div>
{% endif %}

<!-- If the user has already clicked on other products, they are shown here -->
{% if recent %}
<h3 class="display-4 p-2 text-success">Recently viewed products</h3>
<!-- As before recommended is used as funtionality and style do not differ from recommended or similar products -->
<div id="recommend" class="product-list row  col-md-15 mb-2 mt-4 text-center">
    <!-- A maximum of 4 recent products is shown, as more products cannot be shown in one row - at least not in a visually appealing manner -->
    {% for item in recent %}
    <div class="item col-md-3 mb-2 mt-4">
        <!-- Everything is centered -->
        <div id="img" class="text-center">
            <!-- The customer can click on the product to get redirected to the product details page of the clicked item -->
            <a href="{% url 'shop:product_detail' item.id item.slug %}">
                <!-- Either the product image or the image not found picture is shown -->
                <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                    class="img-fluid p-2">
                <div id="description">
                    <!-- The item name is shown right below the product image -->
                    <p class=" pl-2 text-overflow text-decoration-none text-success">{{ item.name }} </p>
                </div>
            </a>
        </div>
        <!-- If the new price is set to "0", then there is no -x% needed -->
        <div id="price" class="pl-2 ">
            {% if item.new_price == 0 %}
            <!-- Thus, the price is simply shown -->
            <h4> {{ item.price }} €</h4>
            <!-- Otherwise, one also shows the percentage discount in red to alert the customer that the product is on sale -->
            {% else %}
            <h4> {{ item.new_price }} € <span class="font-weight-bold text-danger">-{{ item.sales_percent }}%</span>
            </h4>
            {% endif %}
        </div>
        <div class="pl-3">
            <!-- The customer can add the product to the cart -->
            <form action="{% url 'cart:cart_add_one' item.id %}" method="post" class="pt-2">
                <select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
                    <!-- In this case they can only add the item to the cart once, which is usally what the customer wants (and it looks somewhat better) -->
                    <option value="1">1</option>
                </select>
                <!-- Cross-site request forgery protection -->
                {% csrf_token %}
                <!-- Add to cart button -->
                <button type="submit" class="btn btn-block btn-success bg-success btn-circle btn-icon-left" value="Add">
                    <i class="fa fa-shopping-cart fa-lg"></i> Add
                </button>
            </form>
        </div>
    </div>

    {% endfor %}
</div>
{% endif %}

</div>
<!-- Newsletter subscription-->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />

<!-- Calls the above written function for the magnifying lense -->
<script>
    magnify("myimage", 2);

    // One coul also show the images bigger, e.g. in a pop-up/modal, but we preferred the magnifying class, as the leaf pattern really "pops" with that tool

    // $(document).ready(function () {
    //     $('.product_img img').each(function () {
    //         var currentImage = $(this);
    //         currentImage.wrap("<a class='img-link' href='" + currentImage.attr("src") + "'</a>");
    //     });
    //     $('.img-link').magnificPopup({ type: 'image' });
    // });
</script>

{% endblock %}