{% extends "shop/base.html" %}
{% load static %}

<!-- If a category was chosen, the category name is used as the title -->
{% block title %}
{% if category %}{{ category.name }}
{% else %}Produkte{% endif %}
{% endblock %}
<!-- Otherwise all products and thus "Produkte" is used as the title -->
{% block content %}

<div class="row col-lg-15">
    <!-- We start with showing the categories -->
    <div class="col-lg-10 d-none d-xl-block d-lg-block ">
        <div id="sidebar" class="list-group border pl-3 pr-4 pt-2 pb-4 rounded-lg bg-success">
            <!-- The categories need to be checked therefore -->
            <p class="text-uppercase text-overflow h5 text-white">Categories</p>
            <table>
                <tr>
                    <th>
                        <!-- One can get to the product list as a total by clicking on "Alle" -->
                        <a href="{% url 'shop:product_list' %}"
                            class="text-left text-uppercase text-decoration-none text-overflow mt-2 text-white">
                            <!-- If no category was used, one can simply show the product list, as it is the case, if one clicks on "Alle" -->
                            {% if not category %} {% endif %}
                            ALL
                        </a>
                    </th>
                    <!-- Otherwise we loop through all categories -->
                    {% for category in categories %}
                    <!-- and get the absolute url of the category in question -->
                    <th><a href="{{ category.get_absolute_url }}"
                            class="text-center text-uppercase text-decoration-none mt-2 text-overflow text-white">
                            <!-- The category name is shown, so that the user can choose the right category -->
                            {{ category.name }}
                        </a>
                    </th>
                    {% endfor %}
                </tr>

            </table>
        </div>
    </div>

    <!-- The products are at least as important and are shown below -->
    <div class="product-list col-md-12 col-lg-10 text-center">
        <div class="row ">
            <!-- We loop through all products -->
            {% for product in products %}
            <!-- Get the url for the product, so that the user can easily get to the product detail page -->
            <a href="{{ product.get_absolute_url }}">
                <div class="col-md-6 col-lg-4">
                    <div class="item mb-4">
                        <!-- The content is shown centered -->
                        <div id="img" class="text-center">
                            <!-- Either the prouct image or the image not found picture are shown -->
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}
							{% static 'img/no-image.png' %} {% endif %}" class="img-fluid mt-4 mb-4">
                        </div>
                        <!-- One can add the product to the wishlist by clicking on the red heart -->
                        <a href="{% url 'shop:add_to_wishlist' product.slug %}" class="text-danger"><i
                                class="fas fa-heart"></i>
                        </a>
                        <div id="description">
                            <!-- The absolute product URL is taken once more for a easy way to the product details page -->
                            <a href="{{ product.get_absolute_url }}"
                                class="text-overflow text-uppercase text-decoration-none text-success">
                                <!-- The product name is shown below -->
                                <string class="text-overflow m-0">
                                    {{ product.name }}
                                </string>
                            </a>
                        </div>

                        <div id="price" class="mt-2">
                            <!-- If the new price is not zero, i.e. the price was reduced, -->
                            {% if product.new_price != 0 %}
                            <!-- The ne product price is shown -->
                            <h4> {{ product.new_price }} €
                                <!-- and the percentage price reduction is shown in red to alert the customer about this offer -->
                                <span class="font-weight-bold text-danger">
                                    -{{ product.sales_percent }}%</span>
                            </h4>
                            {% else %}
                            <!-- Otheriwse the "normal" product price is simply shown -->
                            <h4> {{ product.price }} €</h4>
                            {% endif %}

                        </div>
                        <div id="add" class="pl-3">
                            <!-- The customer has the option to add the product to the cart -->
                            <form action="{% url 'cart:cart_add_one' product.id %}" method="post" class="pt-2">
                                <select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
                                    <!-- In this case they can only add the item to the cart once, which is usally what the customer wants (and it looks somewhat better) -->
                                    <option value="1">1</option>
                                </select>
                                <!-- Cross-site request forgery protection -->
                                {% csrf_token %}
                                <!-- Add to cart button -->
                                <button type="submit"
                                    class="btn btn-block btn-success bg-success btn-circle btn-icon-left" value="Add">
                                    <i class="fa fa-shopping-cart fa-lg"></i> Add
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </a>

            {% endfor %}
        </div>
    </div>
</div>

<!-- The page navigation works in the backend but of course needs to be shown in the frontend -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <!-- If a page before the currently displayed page exists, the "Vorherige" button is shown to get back to that page -->
        {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link text-success"
                href="{% url 'shop:product_list' products.previous_page_number %}">Vorherige</a>
        </li>
        {% else %}
        <!-- Otherwise we hide that information, as it wouldn't work anyways -->
        <li class="page-item " hidden="hidden">
            <a class="page-link text-success deactivated">Vorherige</a>
        </li>

        {% endif %}

        <!-- We get every existing page -->
        {% for page in paginator.page_range %}
        <!-- And display the correct number -->
        {% if page == products.number %}
        <!-- If we are on said number, it is highlighted in darkgreen -->
        <li class="page-item active"><span class="page-link ">{{ page }}</span><span class="sr-only ">(current)</span>
        </li>
        <!-- Otherwise we can click on the page number to get to said page -->
        {% else %}
        <!-- Once can get to the page, one clicks on and it always shows the same products -->
        <li class="page-item "><a class="page-link text-success" href="{% url 'shop:product_list' page %}">
                {{ page}}</a></li>
        {% endif %}

        {% endfor %}
        <!-- If a following page exists -->
        {% if products.has_next %}
        <li class="page-item">
            <!-- The "Nächste" button is shown -->
            <a class="page-link text-success" href="{% url 'shop:product_list' products.next_page_number %}">Nächste</a>
        </li>
        {% else %}
        <!-- Otherwise, we hide that button, as it wouldn't work anyways -->
        <li class="page-item" hidden="hidden">
            <a class="page-link deactivated text-success">Nächste</a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- Newsletter subscription -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />

{% endblock %}