{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Suchergebnisse
{% endblock %}

{% block content %}

{% if not products %}
<!-- It could be that there's no available product which fits the search phrase -->
<h1 class="display-4 p-4 text-center">Wir konnten kein passendes Produkt finden.</h1>
<!-- In that case we inform the customer about that and give him/her the option to view all of our products -->
<a href="{% url 'shop:product_list' %}" style="color:darkgreen">
	<p class="text-center"><i class="fas fa-times-circle display-1 p-4 text-center" aria-hidden="true"></i></p>
</a>
{% else %}
<!-- Otherwise at least one product was found which fits the search phrase -->
<div class="product-list col-12 text-center">
	<div class="row ">
		<!-- In that case we loop through all the products we've found -->
		{% for product in products %}
		<!-- And get the absolute URL, so that the customer can view the product details page with a single click -->
		<a href="{{ product.get_absolute_url }}">
			<!-- Whilst the link is great, we need to display actual information -->
			<div class="col-md-6 col-lg-3">
				<!-- Thus, we need to show the product image -->
				<div class="item mb-4">
					<div id="img" class="text-center">
						<!-- If the product image doesn't exist, we will show a image not found picture instead -->
						<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png'%} 
						{% endif %}" class="img-fluid mt-4 mb-4">
					</div>
					<!-- The red heart is used to add the product to the wishlist -->
					<a href="{% url 'shop:add_to_wishlist' product.slug %}" class="text-danger"><i
							class="fas fa-heart"></i>
					</a>
					<div id="description">
						<!-- One can also click on the product name to get to the product details page -->
						<a href="{{ product.get_absolute_url }}"
							class="text-overflow text-uppercase text-decoration-none text-success">
							<!-- Thus, we need to show the product name -->
							<string class="text-overflow m-0">
								{{ product.name }}
						</a>
						</string>
					</div>
					<!-- Of course, the price is also very important -->
					<div id="price" class="mt-2">
						<!-- Hence, we need to check whether a discount price was added -->
						{% if product.new_price != 0 %}
						<!-- If one exists, we show the new price -->
						<h4> {{ product.new_price }} €
							<!-- Followed by the percentage discount in red to alert the user about the offer -->
							<span class="font-weight-bold text-danger">
								-{{product.sales_percent }}%</span>
						</h4>
						{% else %}
						<!-- Otherwise the "normal" price is simply shown -->
						<h4> {{ product.price }} €</h4>
						{% endif %}

						<div id="add" class="pl-3">
							<!-- The customer can add the product to the cart right away -->
							<form action="{% url 'cart:cart_add_one' product.id %}" method="post" class="pt-2">
								<!-- In this case one product is added to the cart -->
								<select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
									<!-- This can be adjusted in the product details page or directly in the cart -->
									<option value="1">1</option>
								</select>
								<!-- Cross-site request forgery protection -->
								{% csrf_token %}
								<!-- One can add the product to the cart with a simple click -->
								<button type="submit"
									class="btn btn-block btn-success bg-success btn-circle btn-icon-left" value="Add">
									<!-- In that case the customer gets redirected to his/her cart -->
									<i class="fa fa-shopping-cart fa-lg"></i> Add
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</a>

		{% endfor %}
	</div>
	<!-- Page naviation is added as well -->
	<nav aria-label="Page navigation">
		<!-- Currently we do not have enough possible results to actually use it, but the webshop could increase in size -->
		<ul class="pagination justify-content-center">
			<!-- We check whether a previous page exists -->
			{% if products.has_previous %}
			<li class="page-item">
				<!-- If that is the case, we add a "Vorherige" button to get back-->
				<a class="page-link text-success"
					href="{% url 'shop:searching' products.previous_page_number phrase %}">Vorherige
				</a>
			</li>
			{% else %}
			<!-- Otherwise we hide that button, as it wouldn't work anyways -->
			<li class="page-item">
				<a class="page-link desativated" hidden="hidden">Vorherige </a>
			</li>

			{% endif %}
			<!-- We get every existing page -->
			{% for page in paginator.page_range %}
			<!-- And display the correct number -->
			{% if page == products.number %}
			<!-- If we are on said number, it is highlighted in darkgreen -->
			<li class="page-item active"><span class="page-link">{{ page }}</span><span class="sr-only">(current)</span>
			</li>
			{% else %}
			<!-- Otherwise we can click on the page to get to that site -->
			<li class="page-item "><a class="page-link text-success" href="{% url 'shop:searching' page phrase %}">
					{{ page }}</a>
			</li>
			{% endif %}

			{% endfor %}
			<!-- If another page exists (next page exists) -->
			{% if products.has_next %}
			<li class="page-item">
				<!-- We can get to it by (either clicking on the page number or by) clicking on the "Nächste" button -->
				<a class="page-link" href="{% url 'shop:searching' products.next_page_number phrase %}">Nächste</a>
			</li>
			{% else %}
			<!-- Otherwise we can hide the "Nächste" button, as it wouldn't work anyways -->
			<li class="page-item">
				<a class="page-link desativated" hidden="hidden">Nächste</a>
			</li>
			{% endif %}
		</ul>
	</nav>
</div>
{% endif %}
<!-- Newsletter subscription -->
<center>
	<a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
			width='60%' /></a>
</center><br />
{% endblock %}