{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<!-- As this style is mostly only used here or would've been overwritten by Bootstrap, it is displayed here -->
<style>
    /* The image size increased at mouse hover */
    #img:hover {
        width: 400px;
        height: 400px;
        transition: 2s ease-in-out;
    }

    /* The table data is centered */
    td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<h2>Ihre Wunschliste</h2>
<!-- The tables width fills the entire content block -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <!-- Only the bottom border is shown after the table header -->
            <tr class="border-bottom table" style='text-align:center; vertical-align:middle'>
                <!-- All table headers are defined -->
                <th>Added on</th>
                <th>Picture</th>
                <th>Product</th>
                <th>Price</th>
                <th>Add to cart</th>
                <th>Remove from wishlist</th>
            </tr>
        </thead>
        <tbody>
            <!-- We loop through all of the item in the wishlist (for that specific user) -->
            {% for item in wishlist %}
            <tr>
                <!-- And display the relevant data with the option to get to the product details page easily -->
                <td>
                    <a href="{{ item.wished_item.get_absolute_url }}" class="text-success">
                        {{ item.added_date }}</a>
                </td>
                <td>
                    <a href="{{ item.wished_item.get_absolute_url }}" class="text-decoration-none">
                        <img id="img"
                            src="{% if item.wished_item.image %}{{ item.wished_item.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                            height="120" width="120">
                    </a>
                </td>
                <td><a href="{{ item.wished_item.get_absolute_url }}" class="text-success">
                        {{ item.wished_item.name}}</a></td>
                <!-- If the item has a reduced price, we need to display that price -->
                {% if item.wished_item.new_price == 0 %}
                <td><a href="{{ item.wished_item.get_absolute_url }}" class="text-success">
                        {{ item.wished_item.price }} €</a></td>
                {% else %}
                <!-- Otherwise the "normal" price needs to be displayed -->
                <td><a href="{{ item.wished_item.get_absolute_url }}" class="text-success">
                        {{ item.wished_item.new_price }} €</a></td>
                {% endif %}
                <td>
                    <!-- Once can add the product to the cart by clicking on the button -->
                    <div id="quantity" class="pl-3">
                        <form action="{% url 'cart:cart_add_one' item.wished_item.id %}" method="post" class="pt-2">
                            <!-- One can add an amount of one to the cart and gets redirected to said cart, where one can increase the amount -->
                            <select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
                                <option value="1">1</option>
                            </select>
                            <!-- Cross-site request forgery -->
                            {% csrf_token %}
                            <!-- Add to cart button -->
                            <button type="submit" class="btn btn-block btn-success bg-success btn-circle btn-icon-left"
                                value="Add">
                                <i class="fa fa-shopping-cart fa-lg"></i>&nbsp;&nbsp;Add
                            </button>
                        </form>
                    </div>

                </td>
                <td>
                    <!-- Lastly the option to delete the item from the wishlist exists as well -->
                    <a href="{% url 'shop:delete_from_wishlist' item.wished_item.slug %}" class="text-danger"><i
                            class="fas fa-minus-circle">&nbsp;Delete</i></a>
                </td>
                <!-- if the wishlist is empty, we inform the user about that with red text to make the information stand out -->
                {% empty %}
                <br />
                <p style="color:crimson;"><strong>There are no products in your wish list yet.</strong>
                </p>
                <br />
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div><br />
<p></p>

<!-- Newsletter subscription -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />

{% endblock %}