<mjml>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-image width="162px" src="{% static 'images/GreenOasis0.png' %}"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section background-color="#f3f3f3">
            <mj-column>
                <mj-image width="170px" src="https://cdn.pixabay.com/photo/2015/05/07/18/03/aphids-756838_1280.jpg">
                </mj-image>
            </mj-column>
            <mj-column>
                <mj-text font-weight="bold" align="justify" font-size="24px" color="#000" font-family="helvetica">Tipps
                    gegen Blattläuse</mj-text>
                <mj-text align="justify" font-size="15px" color="#000" font-family="helvetica">Der beste Weg, um
                    Schädlingen vorzubeugen, ist die Pflege eines natürlichen Gartens und die Vermeidung großer Gruppen
                    ähnlicher Pflanzen. Kombinieren Sie z.B. Rosen mit verschiedenen Bodendeckern, oder legen Sie einen
                    gemischten Gemüsegarten an. Generell gilt, dass gesunde Pflanzen mit ausreichender Ernährung, Wasser
                    und Licht weniger anfällig sind. Andererseits sind Pflanzen, die überfüllt, falsch platziert oder
                    erkrankt sind, anfälliger für Blattläuse. Vermeiden Sie daher immer eine Überdüngung mit Stickstoff,
                    denn auch Blattläuse profitieren von dem reichhaltigen Pflanzensaft. Es ist auch ratsam,
                    Ziersträucher wie Geißblatt (Lonicera) und Jasmin zu meiden, die häufig von Blattläusen befallen
                    werden.

                    Sorgen Sie dafür, dass Sie in Ihrem Garten geeignete Nistplätze für natürliche Feinde und andere
                    Nützlinge wie Lorbeer, Marienkäfer, Wespen, Wollläuse und andere Schädlinge haben, indem Sie z. B.
                    Trockenholzhecken pflanzen und Lorbeerkästen und Insektenhäuser anbringen. Wenn sich die Blattläuse
                    in Ihrem Garten eingewöhnt haben, geht ihre Zahl nach dem ersten Befall im späten Frühjahr oder
                    Frühsommer meist deutlich zurück. Der Grund dafür ist, dass eine gut gefüllte Nahrungsquelle
                    bedeutet, dass sich auch die Nützlinge gut vermehren werden. Im Sommer ist die Bilanz für den
                    Hobbygärtner zufriedenstellend.
                </mj-text>
                <mj-button align="left" background-color="#" border-radius="40px" font-family="helvetica"
                    font-size="12px">Lesen Sie mehr</mj-button>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column>
                <mj-image width="165px"
                    src="https://cdn.pixabay.com/photo/2020/02/02/10/22/plant-care-4812596_1280.jpg"></mj-image>
                <mj-text font-weight="bold" align="center" font-size="16px" color="#000" font-family="helvetica">
                    Pflegetipps für Ihre Pflanzen</mj-text>
                <mj-text align="justify" font-size="13px" color="#000" font-family="helvetica">Sie haben selbst eine
                    Frage zur Pflege von Pflanzen? Dann finden Sie alle notwendigen Informationen auf unsere
                    Pflegeseite.</mj-text>
                <mj-button background-color="#8ccaca" border-radius="40px" font-family="helvetica" font-size="12px">Zur
                    Pflegeseite </mj-button>
            </mj-column>
            <mj-column>
                <mj-image width="165px" src="https://cdn.pixabay.com/photo/2019/01/09/10/34/hydrangea-3923019_1280.jpg">
                </mj-image>
                <mj-text font-weight="bold" align="center" font-size="16px" color="#000" font-family="helvetica">Q&A
                </mj-text>
                <mj-text align="justify" font-size="13px" color="#000" font-family="helvetica">Sie haben weitere Fragen
                    zur Pflege von Pflanzen? Dann schauen Sie in unserem Q&A vorbei und stellen Sie auch gerne selbst
                    eine Frage.</mj-text>
                <mj-button background-color="#8ccaca" border-radius="40px" font-family="helvetica" font-size="12px">Zum
                    Q&A</mj-button>
            </mj-column>
            <mj-column>
                <mj-image width="165px" src="https://cdn.pixabay.com/photo/2020/04/30/05/20/nature-5111414_1280.jpg">
                </mj-image>
                <mj-text font-weight="bold" align="center" font-size="16px" color="#000" font-family="helvetica">
                    GreenOasis Shop</mj-text>
                <mj-text align="justify" font-size="13px" color="#000" font-family="helvetica">In unserem Plant Shop
                    finden Sie exklsive, nachhaltig-gezogene Pflanzen mit Anwachsgarantie!</mj-text>
                <mj-button background-color="#8ccaca" border-radius="40px" font-family="helvetica" font-size="12px">Zum
                    Plant Store</mj-button>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>