/* We tried to use that, but Bootstrap did overwrite it and thus we added it into the HTML file */
.center {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-self: center;
    text-align: center;
}