{% erweitert 'shop/base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<!--Passwort zurücksetzen-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Passwort zurücksetzen</h2>
    <hr>
    <p>Haben Sie Ihr Passwort vergessen? Geben Sie unten Ihre E-Mail-Adresse ein. Wir senden Ihnen per E-Mail
        Anweisungen zum Einrichten eines neuen Passworts.</p>
    <form method="POST">
        <!-- Cross-Site-Request-Forgery-Schutz -->
        {% csrf_token %}
        <!-- Wir haben crispy-forms verwendet, um das Formular schöner aussehen zu lassen als es normalerweise ist -->
        {{ password_reset_form|crispy }}
        <button class="btn btn-success" type="submit">E-Mail senden</button>
    </form>
</div>

<!-- Newsletter zum Registrieren - nach Klick auf das selbst gestaltete Bild kann man sich mit seiner E-Mail-Adresse registrieren -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />

{% endblock %}