{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}

{% block object-tools-items %}
{{ block.super }}

<li><a href="{% url opts|admin_urlname:'preview' original.pk %}">preview</a></li>
{% comment <li><a href="../../submission/add/?message_id={ message.id }}">Prepare submission</a></li>
{%endcomment %}
{%endblock %}