{% extends "admin/base_site.html" %}

{{% load i18n %}

{% block title %}Preview message{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../../">shop</a> &rsaquo;
  <a href="../../../">Newsletter</a> &rsaquo;
  <a href="../../">Message</a> &rsaquo;
  <a href="../">{{message|truncatewords: "18" }}</a> &rsaquo;
  Preview
</div>
{% endblock %}

{% block content %}
<h1>preview message</h1>
<div id="content-main">
  <ul class="object-tools">
    <li><a href="{% url 'admin:newsletter_message_change' message.id %}">Change</a></li>
    <li><a href="{% url 'admin:newsletter_message_submit' message.id %}">Create template</a></li>
  </ul>
  {% if message.newsletter.send_html %}
  <h4>HTML</h4>
  <!-- iframe is from our own site -->
  <iframe src="{% url 'admin:newsletter_message_preview_html' message.id %}" width="960px" height="720px"></iframe>
  {% endif %}
  <!-- iframe is from our own site -->
  <h4>text</h4>
  <iframe src="{% url 'admin:newsletter_message_preview_text' message.id %}" width="960px" height="720px"></iframe>
</div>
<br />
<br />

{% endblock %}