Our admin is authorised to edit the images
{% load admin_modify i18n %}
<!-- We take the original value of the boundField -->
{% if bound_field.original_value %}
<!-- The current value is displayed along with a link to the original URL -->.
Current: <a href="{{ bound_field.original_url }}">
    <!-- The escape is used to turn non-secure characters - such as HTML tags - into escaped versions, 
        to prevent malicious content, such as script tags, from damaging our website -->
    {{ bound_field.original_value|escape }}
</a><br />
<!-- A rather small image is also displayed -->
<img src="{{ bound_field.original_url }}" width="180" /><br />
<!-- And the option to change the BondField is provisional -->
Change: {% output_all bound_field.form_fields %}
<!-- Unless it has no original value, -->
{% else %}

<!-- since in this case the form must be filled in -->
{% output_all bound_field.form_fields %}

{% endif %}