{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Newsletter" %}{% endblock title %}</title>
    {% block header %}
    {% endblock header %}
</head>

<body>
    {% block body %}
    {% endblock body %}
</body>

</html>