{% extends 'shop/base.html' %}

{% block content %}
<div id="newsletter" class="container-box bg-light mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">

                <h2 class="text-center">Newsletter</h2>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <p class="text-center pt-4">Sign up for the GreenOasis newsletter and receive
                            news, exclusive offers and personal recommendations, as well as care tips
                            on selected plants.</p>
                    </div>
                </div><br />

                <!-- Newsletter subscription form -->
                <div class="col-12">
                    <!-- Tell the subscriber that the email has been registered -->
                    {% if email %}
                    <p>{{ email }} has been {{ action }}.</p>
                    {% endif %}
                </div>
                <!-- The actual registration form -->
                <div class="col-12 col-md-4">
                    {% if form %}
                    <form method="post" action="{% url 'newsletter:new' %}">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button type="submit" class="btn btn-success">Subscribe to the newsletter!</button>
                    </form>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
</div>

{% endblock %}