{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} activate{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <h1>{% trans "Newsletter" %} {{ newsletter.title }} {{ action }} activate</h1>

        <p>Your subscription has been successfully updated.</p>
    </div>
</div>
{% endblock content %}