{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}Newsletter-Anmeldung{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <h1>Newsletter subscription {{ newsletter.title }}</h1>

        <p>Welcome, {{ user }}!</p>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% else %}
        Would you like to subscribe to the GreenOasis newsletter?
        <form enctype="multipart/form-data" method="post" action="{% url ' newsletter_subscribe_confirm' newsletter.slug
            %}">
            {% csrf_token %}
            <p><input class="btn btn-secondary" id="id_submit" name="submit" value="{% trans ' Anmelden' %}"
                    type="submit" /></p>
        </form>
    </div>
</div>
{% endif %}
</div>
</div>
{% endblock content %}