{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}Newsletter unsubscription{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <h1>Newsletter unsubscription {{ newsletter.title }}</h1>

        <p>Welcome, {{ user }}!</p>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% else %}

        Would you like to unsubscribe from this newsletter?
        <form enctype="multipart/form-data" method="post" action="{% url ' newsletter_unsubscribe_confirm'
            newsletter.slug %}">
            {% csrf_token %}
            <p><input class="btn btn-secondary" id="id_submit" name="submit" value="{% trans ' Abmelden' %}"
                    type="submit" /></p>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}