{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}Newsletter unsubscription{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <h1>Unsubscribe from newsletter {{ newsletter.title }}</h1>

        <p>Your unsubscribe request was successfully received. You have been sent an email with a link
            which you must follow to confirm your unsubscription.</p>

    </div>
</div>
{% endblock content %}