{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}Newsletter update{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <h1>Newsletter update {{ newsletter.title }}</h1>

        <p>Your update request has been successfully received and an activation email has been sent to you. In
            this email you will find a link that you need to follow to update your subscription.</p>

    </div>
</div>
{% endblock content %}