{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}Newsletter subscription{% endblock title %}

{% block content %}

<style>
    #id_name_field,
    #id_email_field {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>

<div class="row align-items-center text-center">
    <div class="text-center m-auto">
        <h1>Newsletter subscription {{ newsletter.title }}</h1>

        {% if error %}
        <p>Due to a technical error, we were unable to transmit your confirmation email. This could be because
            due to the fact that your email address is invalid}</p>

        <p>{% trans "If the error persists, please do not hesitate to contact us at the following
            email address:" %} <a
                href="mailto:Solkraft.GreenEnergySolutions@gmail.com">Solkraft.GreenEnergySolutions@gmail.com</a></p>

        {% else %}
        <form enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
            <div class="fieldWrapper">
                <label for="{{ form.name_field.id_for_label }}">Name</label>
                {{ form.name_field }}
                {{ form.name_field.errors }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ form.email_field.id_for_label }}">Email</label>
                {{ form.email_field }}
            </div>
            <p><input class="btn btn-secondary mt-2" id="id_submit" name="submit" value="{% trans 'Subscribe' %}"
                    type="submit" /></p>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}