{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}Newsletter update{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <h1>Newsletter update {{ newsletter.title }}</h1>

        {% if error %}
        <p>Due to a technical error, we were unable to transmit your confirmation email. This could be because
            that your email address is invalid.</p>

        <p>If the error persists, please do not hesitate to contact us at the following email address.
            contact us: <a href="Solkraft.GreenEnergySolutions@gmail.com">Solkraft.GreenEnergySolutions@gmail.com</a>
        </p>

        {% else %}
        <form enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="btn btn-secondary" id="id_submit" name="submit" value="{% trans 'Update' %}"
                    type="submit" /></p>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}