{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter unsubscribe" %}{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <h1>Newsletter-Abmeldung {{ newsletter.title }}</h1>

        {% if error %}
        <p>Due to a technical error, we were unable to transmit your confirmation email. This could be because
            that your e-mail address is invalid.</p>


        <p>If the error persists, please don't hesitate to contact us at the following email address: <a
                href="mailto:Solkraft.GreenEnergySolutions@gmail.com">Solkraft.GreenEnergySolutions@gmail.com</a></p>

        {% else %}
        <form enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="btn btn-secondary" id="id_submit" name="submit" value="{% trans '' Unsubscribe' %}"
                    type="submit" /></p>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}