/* base.html (used by different HTMLs) */

body {
    /* We chose Open Sans as it is very popular and now honestly who is better than Sans? :D */
    font-family: Open Sans;
}

.fa-shopping-cart {
    font-size: 30px;
}

.fa-user {
    font-size: 30px;
    padding: 8px;
    /* It is important to set the color as important, as it could easily be overwritten otherwise */
    color: rgba(255, 255, 255, .5) !important;
}

#user_f {
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.Btn {
    /* No, honestly it is ALWAYS the color which gets overwritten first */
    color: white !important;
}

.Btn:hover {
    color: lightslategrey !important;
    cursor: pointer;
}

/* The Model (background) */
.model {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99 !important;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Model Content */
.model-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.qty {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
    float: right;
    margin-top: -8px;
    font-family: "arial";
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 15%;
    position: relative;
    height: 0;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* We solely use iframes from our website to adhere to the Same Origin Policy */
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* adjusts the navbar */
@media (max-width: 991px) {
    #shop_name {
        font-size: 25px;
    }

    #user_nav {
        position: absolute;
    }

    .map-responsive {
        padding-bottom: 30%;
    }

    /* address.html */
    .login-page {
        width: 500px;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 500px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #28A745;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form button:hover,
    .form button:active,
    .form button:focus {
        background: #28A745;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

    .form .message a {
        color: #28A745;
        text-decoration: none;
    }

    .form .register-form {
        display: none;
    }

    .container {
        position: relative;
        z-index: 1;
        margin: 0 auto;
    }

    .container:before,
    .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

    .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
    }

    .container .info span {
        color: #4d4d4d;
        font-size: 12px;
    }

    .container .info span a {
        color: #000000;
        text-decoration: none;
    }

    .container .info span .fa {
        color: #EF3B3A;
    }

    ul {
        list-style-type: none;

    }

    li {

        text-align: left;
    }

    .btn {
        color: white !important;
        background-color: #28A745 !important;
    }

    .btn:hover {
        color: black !important;
        background-color: #f2f2f2 !important;
    }

    .header-links li {
        display: inline-block;
        margin-right: 15px;
        font-size: 12px;
    }
}

.header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.navbar_div {
    justify-content: space-between !important;
    width: 100% !important;
    background-color: rgb(61, 70, 70);
}

.navbar>.container {
    display: block;
}

/* list.html */

.item {
    transition: .4s;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 0.3rem;
}

.item:hover {
    border-color: #008000;
    border-width: 2px;
}


.img-fluid {
    max-width: 100%;
    height: 250px;
}

.text-overflow {
    display: -webkit-box;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: auto;
    line-height: 25px;
}

#description {
    font-size: 20px;
    font-weight: bold;
}


#sidebar {
    font-size: medium;
}

#sidebar a {
    color: black;
    transition: 10ms;
}

#sidebar a:hover {
    color: #28A745;
    font-weight: bold;
}


@media (max-width: 991px) {
    .img-fluid {
        max-width: 100%;
        height: 200px;
    }

}

/* Used by detail.html */

.text-size {
    font-size: 20px;
}

#autor {

    font-size: 17px;
    border-radius: 15px;
    width: 20%;
    max-width: 15%;
    padding-left: 20px;

}

#review {

    font-size: 25px;
    border-radius: 15px;
    color: gold;
    width: 20%;
    max-width: 15%;
}

#comment {

    padding-right: 25px;
    font-size: 17px;
    border-radius: 15px;
    width: 60%;
}


#score {

    padding: 10px;
    border-radius: 10px;
    display: flex;
    /*justify-content: center; */
    align-items: center;
    /*
			border-right-style: groove;
			border-left-style: groove;
			*/
    border-top-style: groove;
    border-bottom-style: groove;
}

.recommend {
    border-top-style: groove;
    border-bottom-style: groove;
}

#slider-button {
    background-color: black;
}

#text {
    left: 10%;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 130px;
    height: 130px;
}

#qty_id {
    display: line;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 5px;
}

.text_small {
    font-size: small;
}

#id_rating {
    display: line;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#id_textbox,
#id_body {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 50px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


@media (max-width: 991px) {}

/* Used by main.html */

.carousel_img {
    object-fit: cover;
    object-position: 0 25%;
    height: 400px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#id_code {
    width: 25%;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}