{% load i18n %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Unsubscribe from {{ title }}{% endblocktrans %}</title>
</head>

<body>
    {% blocktrans with name=subscription.name title=newsletter.title domain=site.domain
    url=subscription.unsubscribe_activate_url %}Dear {{ name }},

    You, or someone on your behalf, have requested to unsubscribe from {{ title }}.

    If you wish to confirm your unsubscription, please follow this activation link:
    http://{{ domain }}{{ url }}

    Best regards {% endblocktrans %}
    {{ newsletter.sender }}
</body>

</html>