{% load i18n %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Update of subscriptions auf {{ title }}{% endblocktrans %}
    </title>
</head>

<body>
    {% blocktrans with name=subscription.name title=newsletter.title domain=site.domain
    url=subscription.update_activate_url %}Dear {{ name }},

    you or someone on your behalf has requested that your personal data for {{ title }} be updated.

    To make changes to your data in our database, please follow this activation link:
    http://{ domain }}{ url }}

    Best regards {% endblocktrans %}
    {{ newsletter.sender }}
</body>

</html>