{% extends "shop/base.html" %}
{% load static %}

{% block title %}Confirm your email{% endblock %}

{% block content %}
<h1 class="display-4 p-4 text-center">Confirm your email address to complete registration</h1>.
<p class="text-center"><i class="fas fa-envelope-open-text display-1 p-4 text-center" aria-hidden="true"></i></p>

<!-- Newsletter subscription-->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /> </a>
</center>
<br />
{% endblock %}