{% erweitert "shop/base.html" %}
{% load static %}

{% block title %}Ungültiger Link{% endblock %}

{% block content %}
<!-- Wird angezeigt, wenn man einen Aktivierungslink verwendet, der nicht existiert oder der nicht mehr gültig ist -->
<h1 class="display-4 p-4 text-center">Aktivierungslink ist ungültig!</h1>
<p class="text-center"><i class="fas fa-times display-1 p-4 text-center" aria-hidden="true"></i></p>
<!-- Newsletter-Abonnement -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center> <br />
{% endblock %}