{% extends "shop/base.html" %}

{% block title %}Registrieren Sie sich{% endblock %}

{% block content %}

<!-- To overwrite django.auth - just as with Bootstrap, one needs to have the CSS code inside the template -->
<style>
    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form button:hover,
    .form button:active,
    .form button:focus {
        background: #007bff;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

    .form .message a {
        color: hsl(140, 73%, 47%);
        text-decoration: none;
    }

    .form .register-form {
        display: none;
    }

    .container {
        position: relative;
        z-index: 1;
        margin: 0 auto;
    }

    .container:before,
    .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

    .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
    }

    .container .info span {
        color: #4d4d4d;
        font-size: 12px;
    }

    .container .info span a {
        color: #000000;
        text-decoration: none;
    }

    .container .info span .fa {
        color: #EF3B3A;
    }

    ul {
        list-style-type: none;

    }

    li {

        text-align: left;
    }


    #id_day,
    #id_month,
    #id_year {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>

<script>
    $('.message a').click(function () {
        $('form').animate({
            height: "toggle",
            opacity: "toggle"
        }, "slow");
    });
</script>

<!-- HTML code -->


<div class="login-page">
    <div class="form">
        <!-- success is a green colour from Bootstrap. It is e.g. also used for the navbar and footer -->
        <h1 class="text-success">Register</h1>
        <form class="register-form">

        </form>
        <!-- There's no nee to define the action, as the Python code waits for the POST method and then takes over from there -->
        <form action="" method="post" class="login-form">
            <!-- The user (name) is a mandatory field -->
            {{ user_form.non_field_errors }}
            <div class="fieldWrapper">
                <label for="{{ user_form.username.id_for_label }}">Username</label>
                {{ user_form.username }}
                <!-- Of course, errors can occur, if a human or auto fill fills the form and thus an error gets displayed in such a case -->
                {{ user_form.username.errors }}
            </div>
            <div class="fieldWrapper">
                <!-- The name needs to be provided when filling the address field as well. -->
                <label for="{{ user_form.first_name.id_for_label }}">First name</label>
                {{ user_form.first_name }}
                {{ user_form.first_name.errors }}
            </div>
            <div class="fieldWrapper">
                <!-- The name needs to be provided when filling the address field as well, but potentially billing and shipping adresant are not the same -->
                <label for="{{ user_form.last_name.id_for_label }}">Surname</label>
                {{ user_form.last_name }}
                {{ user_form.last_name.errors }}
            </div>
            <div class="fieldWrapper">
                <!-- Birthday/-month/-year are seperated to ensure that no misunderstandings regarding the date format occur -->
                <!-- Another reason is that it is somewhat easier to retrieve user information for later analyses -->
                <label for="{{ user_form.day.id_for_label }}">Birthday</label>
                {{ user_form.day }}
                {{ user_form.day.errors }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ user_form.month.id_for_label }}">Birth month</label>
                {{ user_form.month }}
                {{ user_form.month.errors }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ user_form.year.id_for_label }}">Year of birth</label>
                {{ user_form.year }}
                {{ user_form.year.errors }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ user_form.email.id_for_label }}">Email</label>
                {{ user_form.email }}
                {{ user_form.email.errors }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ user_form.password.id_for_label }}">Password</label>
                {{ user_form.password }}
                {{ user_form.password.errors }}
            </div>
            <div class="fieldWrapper">
                <!-- To ensure that no typing error occured, one has to repeat the password -->
                <label for="{{ user_form.password2.id_for_label }}">Repeat password</label>
                {{ user_form.password2 }}
                {{ user_form.password2.errors }}
            </div>

            <!-- If someone already has an account, but still lands on the registration side, he/she can easily find his/her way to the login page -->
            <!-- Cross-site-request forgery protection -->
            {% csrf_token %}
            <p><input class="bg-success text-white" type="submit" value="Create account"></p>

            <p class="message">You already have an account? <a class="text-success" href="{% url 'account:login' %}">Log
                    in</a>.
            </p>
        </form>
    </div>
</div>
</div>

{% endblock %}