{% extends "shop/base.html" %}
{% load static %}

{% block title %}Herzlich Willkommen{% endblock %}

{% block content %}
<h1 class="display-4 p-4 text-center">Herlich Willkommen {{ new_user.first_name }}!</h1>
<!-- User isn't logged in automatically. Hence, he/she receives the information that everything went according to plan and that he/she can now login -->
<p class="display-5 p-4 text-center">Vielen Dank, dass Sie Ihre E-Mail bestätigt haben. Jetzt können Sie sich <a
                class="ext-decoration-none" href="{% url 'account:login' %}">anmelden</a>.</p>

<!-- Newsletter subscription -->
<center>
        <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
                        width='60%' /></a>
</center> <br />
{% endblock %}