{% load static %}
<!-- The favicon is shown on every page -->
{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/Solkraft.png' %}" />
{% endblock %}
<!-- We need to define valid HTML, which isn't necessary for the pages which extend the base.html, but of course for every other site as well -->
<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- The title is usually adjusted for every site, but if none is defined, Solkraft shop is shown in the tab -->
    <meta charset="utf-8" />
    <title>{% block title %}Solkraft Shop{% endblock %} </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google OpenSans font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css">

    <!-- Bootstrap and own css-file -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- FontAwesome items -->
    <script src="https://kit.fontawesome.com/7ddcda0d1c.js" crossorigin="anonymous"></script>
    <!-- Ensure optimal rendering on mobile devices. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ensure optimal Internet Explorer compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


</head>

<body>

    <!-- Navigation / Navbar -->
    <nav id="nav_top" class="navbar navbar-expand-lg navbar-success bg-success ">
        <div class="container d-none d-xl-block d-lg-block mt-2 mb-0">
            <!-- The navbar is also defined for mobile further below -->
            <ul class="header-links pull-left pl-3 mb-0">
                <!-- The items below are mostly interactive, e.g. one can easily call our number or use the mailto function to write us a email -->
                <li><a class="text-light text-decoration-none" href="tel:+852747744474"><i
                            class="text-light text-decoration-none fa fa-phone"></i> +852 747744474 </a></li>
                <li><a class="text-light text-decoration-none" href="mailto:Solkraft@gmail.com"
                        style="color:blanchedalmond"><i class="text-light text-decoration-none fa fa-envelope-o"></i>
                        Solkraft@gmail.com</a></li>
                <li><a class="text-light text-decoration-none" href="#"><i
                            class="text-light text-decoration-none fa fa-map-marker"></i> Wan Chai, 105 Kennedy Road</a>
                </li>
                <li>
                    <!-- Information about some of our deliverables are shown in the navbar as well -->
                    <a class="text-light text-decoration-none"><i
                            class="text-light text-decoration-none fas fa-shipping-fast "></i> Express delivery</a>
                </li>
                <li>
                    <a class="text-light text-decoration-none"><i
                            class="text-light text-decoration-none fas fa-shield-alt "></i> 14 days return policy</a>
                </li>
                <li>
                    <!-- With a callable hotline number, which is of course fake - just as the "normal" telephone number -->
                    <a class="text-light text-decoration-none" href="tel:+852552525235"><i
                            class="text-light text-decoration-none fas fa-headset "></i> Info hotline: 55 252 52 35</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="bg-success shadow mb-4">
        <div class="container">
            <!-- One can click on the logo icon to get back to the homepage (or reload it) -->
            <nav class="navbar navbar-expand-lg navbar-success bg-success">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'images/Solkraft.png' %}" height="85px">
                </a>

                {% if user.is_authenticated %}
                <div class="nav-item d-block d-xl-none d-lg-none">
                    <!-- If the user is autenticated, the option to get to the customer profile is shown -->
                    <a class=" nav-item fas fa-user text-light Btn" href="{% url 'profile:show_profile' %}">
                    </a>

                </div>
                {% endif %}
                <!-- The cart icon with the number of items in the cart is shown to all customers -->
                <div id="cart_with_numbers" class="btn-outline-success">
                    <!-- Everyone can add products to the cart and view the modal which gets opened when one clicks on the cart icon -->
                    <a id="" class="nav-link nav-item fas fa-shopping-cart text-light d-block d-xl-none d-lg-none"
                        href="{% url 'cart:cart_detail' %}" title="Warenkorb anzeigen">
                        <!-- We get the number of items in the cart -->
                        {% with total_items=cart|length %}
                        <!-- and display it to the customer -->
                        <div class="qty">{{ total_items }}</div>
                        {% endwith %}
                    </a>
                </div>
                <!-- The navbar toggler is used in the mobile version, as our website is (nearly) fully responsive -->
                <button class="navbar-toggler text-success" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars" style="color:#080; font-size:28px;"></i>
                    </span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <!-- A search option was implemented by ourselves -->
                    <form action="{% url 'shop:searching' %}" class="form-inline mr-auto d-xl-none d-lg-none">
                        <!-- One can enter a search phrase and the webshop checks whether such a item or even items exist -->
                        <input class="form-control w-100" type="search" placeholder="Suchen" name="search_phrase"
                            aria-describedby="button-addon5">
                        <!-- If a phrase was entered, we need to get the search phrase -->
                        {% if request.GET.search_phrase %}
                        <!-- Either the found item(s) are displayed or some information that such a item wasn't found -->
                        <button id="button-addon5" class="btn btn-outline-success w-100" type="submit"
                            value="{{ request.GET.search_phrase }}"><i class="fa fa-search"></i></button>
                        {% endif %}

                    </form>
                    <!-- The form is a simple search/text field and the button to submit / search -->
                    <form action="{% url 'shop:searching' %}"
                        class="form-inline mr-auto  w-50 d-none d-xl-block d-lg-block pl-5 ml-5">
                        <input class="form-control w-75" type="search" placeholder="Suchen" name="search_phrase"
                            aria-describedby="button-addon5">&ensp;
                        <!-- If one doesn't insert a catch phrase the no item was found page is also displayed -->
                        <button id="button-addon5" class="btn btn-outline-primary" type="submit"
                            value="{{ request.GET.search_phrase }}"><i class="fa fa-search"></i></button>
                    </form>

                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item">

                        </li>
                        <!-- The dropdown is used for the categories -->
                        <li class="nav-item dropdown d-lg-none d-xl-none">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kategorie
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'shop:product_list' %}"
                                    class="text-left text-uppercas text-decoration-none text-overflow mt-2">
                                    <!--  Initially all categories are shown -->
                                    {% if not category %} {% endif %}
                                    Alle
                                </a>
                                <!-- We loop through all categories to get the right URL and category name -->
                                {% for category in categories %}
                                <a class="dropdown-item" href="{{ category.get_absolute_url }}"
                                    class="text-left text-uppercase text-decoration-none mt-2 text-overflow">
                                    <!-- which can be clicked on by the customer to view the items from said category -->
                                    {{ category.name }}
                                </a>
                                {% endfor %}
                            </div>
                        </li>

                        {% if user.is_authenticated and not user.is_staff %}
                        <!-- If the user is authenticated but is not a staff member, the user name is shown -->
                        <a href="{% url 'profile:show_profile' %}" title="Profil" class="nav-link nav-item"><span
                                id="user_nav" class="strong color-white float-right"
                                style="color:white; padding-top: 10px">
                                <!-- We do not show that to our staff, as they do not need that information and have enough buttons/information displayed anyways -->
                                Hi, {{ user.username }}!
                            </span></a>

                        {% endif %}

                        <h2 class="d-none d-xl-block d-lg-block ">
                            <!-- With a click on the catalouge icon, one gets to the product list, where all products are displayed -->
                            <a class="nav-link text-light" href="{% url 'shop:product_list' %}" title="Catalouge"> <i
                                    class="fas fa-th-large"></i></a>
                        </h2>
                        <!-- As the information needs to be shown for the desktop an mobile version, some aspects are seemingly repeated, 
                            but upon closer inspection, you'll see that they do differ -->
                        <div id="cart_with_numbers" class="d-none d-xl-block d-lg-block">
                            <a id="myBtn" class="nav-link nav-item fas fa-shopping-cart text-light "
                                title="Warenkorb anzeigen">
                                <!-- We have the cart icon with the length of the cart, i.e. the number of products in said cart -->
                                {% with total_items=cart|length %}
                                <div class="qty">{{ total_items }}</div>
                                {% endwith %}
                            </a>
                        </div>
                        {% if user.is_authenticated %}
                        <!-- If the user is authenticate, he/she can open his/her wishlist -->
                        <a class="nav-link nav-item fas fa-heart fa-2x text-light Btn" title="Wishlist"
                            href="{% url 'shop:wishlist' %}"></a>
                        <!-- and can see/view his/her profile as well -->
                        <a class="nav-link nav-item fas fa-user-edit fa-2x text-light Btn"
                            href="{% url 'profile:show_profile' %}" title="User profile"></a>
                        {% endif %}

                        {% if user.is_authenticated and user.is_staff %}
                        <!-- If the user is logged in and a staff member, he/she gets the option to manage orders, through the staff sites -->
                        <a class="nav-link nav-item fas fa-toolbox fa-2x text-light Btn"
                            href="{% url 'staff:manage_orders' %}" title="Manage orders"></a>
                        {% if user.is_superuser %}
                        <!-- If the user is an amin, he/she gets the button to the admin panel displayed as well, which is actually true for all of our staff,
                        as our staff members are also admins, but considering interns could work at our company, we cannot necessarily say that all employees will have admin rights -->
                        <a class="nav-link nav-item fas fa-tools fa-2x text-light Btn" href="{% url 'admin:index' %}"
                            title="Admin"></a>
                        {% endif %}
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li class="nav-item ">
                            <!-- Finally a user who is logged in, needs to have the option to log out -->
                            <a class="nav-link h4 btn btn-success d-none d-xl-block d-lg-block text-light"
                                href="{% url 'account:logout' %}" title="Abmelden"><i
                                    class="fas fa-sign-out-alt fa-2x"></i></a>
                            <!-- Both mobile and desktop version -->
                            <a class="nav-link d-block d-xl-none d-lg-none text-light"
                                href="{% url 'account:logout' %}">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <!-- Otherwise the user is not logged in and thus needs the option to login -->
                            <a class="nav-link d-none d-xl-block d-lg-block fas fa-user-alt fa-2x text-light"
                                href="{% url 'account:login' %}" title="Anmelden"></a>
                            <!-- Both mobile and desktop version -->
                            <a class="nav-link d-block d-xl-none d-lg-none text-light"
                                href="{% url 'account:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <!-- Potentially a new user wants to use our application, in that case they need the option to register -->
                            <a class="nav-link fas fa-user-plus fa-2x d-none d-xl-block d-lg-block text-light"
                                href="{% url 'account:register' %}" title="Registrieren"></a>
                            <!-- Mobile and desktop version -->
                            <a class="nav-link d-block d-xl-none d-lg-none text-light"
                                href="{% url 'account:register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- A modal is kinda like a popup in the same window/tab -->
                <div id="myModal" class="modal">
                    <!-- The modal is shown on the top of the website -->
                    <div class="modal-content" style="display: block">
                        <span class="close">&times;</span>
                        <!-- It is the mini-cart we've already mentioned before -->
                        <h1 class="text-success" style="text-align: center">Shopping cart</h1>
                        <table class="cart" style="width:100%">
                            <!-- The table fills the entire width of the viewport -->
                            <thead>
                                <tr class="border-bottom text-success">
                                    <!-- All of the table headers are defined -->
                                    <th>Picture</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Delete</th>
                                    <th>Price per unit</th>
                                    <!-- The total price is displayed on the right side -->
                                    <th class="num text-right">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- We loop through every item in ones cart -->
                                {% for item in cart %}
                                <!-- We will call the item.product product for simplicity and readability reasons -->
                                {% with product=item.product %}
                                <tr>
                                    <td>
                                        <!-- The absolute url to the product is needed to take a further look - if the user wants to do that -->
                                        <a href="{{ product.get_absolute_url }}">
                                            <!-- Either the product image is displayed or if it doesn't exist a image not found picture is displayed in its place -->
                                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                                                height="50" width="50">
                                        </a>
                                    </td>
                                    <td><a href="{{ product.get_absolute_url }}"
                                            class="text-success text-decoration-none">
                                            <!-- The product name is needed and also has a link to the products detail page -->
                                            {{ product.name }}
                                        </a></td>
                                    <!-- The item quantity, which is initially one, unless the customer chose a different quantity, is displayed -->
                                    <td>{{ item.quantity }}</td>
                                    <!-- The customer also has the option to delete the item from the cart right away -->
                                    <td><a href="{% url 'cart:cart_remove' product.id %}"
                                            class="fas fa-trash text-danger"></a></td>
                                    <!-- The price for the item (unit price) is also shown -->
                                    <td class="num">{{ item.price }} €</td>
                                    <!-- and finally the total price is shown (unit price * quantity) -->
                                    <td class="num text-right">{{ item.total_price }} €</td>
                                </tr>
                                {% endwith %}
                                {% endfor %}
                                <tr>
                                    <td colspan="5"></td>
                                    <!-- The total price is shown in the bottom right corner -->
                                    <td class="num border-top text-right">Total:
                                        {{ cart.get_total_price }} €
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-right">
                            <!-- One can click on the "Einkauf fortsetzen" button which leads the customer to the product list with all products -->
                            <a href="{% url 'shop:product_list' %}" class="button
							light btn btn-success text-white">Continue shopping</a>
                            <!-- Or one can get to the cart itself to change the quantity of one item (increase or reduce it) and of course buy the product(s) -->
                            <a href="{% url 'cart:cart_detail' %}" class="button btn btn-success text-white">Purchasing
                                overview</a>
                            <!-- If one clicks anywhere outside of the modal, the modal gets closed -->
                        </p>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div id="content" class="container">
        <!-- The content block is needed in any page/HTML-file which extends the base.html -->
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-success">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- We start with a column containing our static pages -->
                    <h5 class="mb-4 text-white"><u><strong>About us</strong></u></h5>
                    <a class="text-white text-decoration-none" href="{% url 'shop:about_us' %}">
                        <p class="text-white"><i class="fab fa-pagelines" style="font-size: 30px"></i>
                            About us
                    </a></p>

                    <a class="text-white text-decoration-none" href="{% url 'shop:terms_of_service' %}">
                        <p class="text-white"><i class="fas fa-file-signature" style="font-size: 20px;"></i>
                            Terms of use
                    </a></p>

                    <a class="text-white text-decoration-none" href="{% url 'shop:shipping_policy' %}">
                        <p class="text-white"><i class="fas fa-truck" style="font-size: 18px;"></i>
                            Shipping policy
                    </a></p>

                    <a class="text-white text-decoration-none" href="{% url 'shop:privacy_policy' %}">
                        <p class="text-white"><i class="fas fa-lock h5"></i>&nbsp; Privacy policy
                    </a></p>

                </div>

                <div class="col-md-4">
                    <h5 class="mb-4 text-white"><u><strong>Contact us</strong></u></h5>
                    <!-- Followed by a column containing our contact (information) -->
                    <a class="text-white text-decoration-none" href="{% url 'contact:contact' %}">
                        <i class="fas fa-comments h4 pb-3"></i> Contact form</a>
                    <p class="text-white"><i class="fas fa-map-marker-alt h4"></i> Wan Chai, 105 Kennedy Road</p>
                    <p class="text-white"><i class="fas fa-phone-alt h4"></i>
                        <a href="tel:+852747744474" style="color:whitesmoke">+852 747744474</a>
                    </p>
                    <p class="text-white"><i class="fas fa-envelope h4"></i>
                        <a href="mailto:Solkraft@gmail.com" style="color: whitesmoke">Solkraft@gmail.com</a>
                    </p>

                </div>

                <div class="col-md-4">
                    <h5 class="mb-4 text-white"><u><strong>Further offers</strong></u></h5>
                    <!-- And finally a column with further offers, like our blog -->
                    <a class="text-light text-decoration-none" href="{% url 'blog:allblogs' %}">
                        <p class="text-white"><i class="fab fa-blogger h4"></i>
                            Blog
                        </p>
                    </a>
                    <!-- We also offer a Q&A which can be used by our customers, though our staff regularly checks the Q&A as well -->
                    <a class="text-white text-decoration-none" href="{% url 'questions' %}">
                        <p class="text-white"></p><i class="fas fa-question-circle h4"></i> Q&A
                    </a>
                    <!-- And staff members of course also answer questions, if need be -->
                    <a class="text-white text-decoration-none" href="{% url 'profile:contact' %}">
                        <!-- Refunds are possible in our webshops, which must be made by the logged in customer -->
                        <p class="text-white"></p><i class="fas fa-paper-plane h4"></i> Complaints
                    </a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:dimgray">
        <!-- We added a copyright section mainly to display our repositories -->
        <!-- and finally we have our actual copyright, which doesn't mean much in Germany, but we still included it anyways -->
        <span style="color:white"> © 2021 Copyright:</span>
        <a class="text-white" href='{% url "shop:random_products" %}'>Solkraft</a>
    </div>
    <!-- Copyright -->

    <!-- Modal to show the mini-cart -->
    <script>
        // We need to get the element which should be shown in the modal, here the mini cart
        var modal = document.getElementById("myModal");

        // We need to get the button which actually is used to open the modal, here that is the cart icon
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, we open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on the (x), we close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, we close the modal
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


    <!-- JQuery core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <!-- Popper (Tooltip & Popover Positioning Engine) JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>