{% extends "shop/base.html" %}
{% load static %}

<!-- Now we actually do not necessarily need a title here, but we still added one for completion -->
{% block title %}
Solkraft
{% endblock %}

{% block content %}

<!-- Carousel from Bootstrap -->
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide col-12" data-ride="carousel">
        <ol class="carousel-indicators">
            <!-- With three images -->
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner rounded-lg">
            <div class="carousel-item active ">
                <!-- One can get to the product list, which shows all of our available products by clicking on any of the slides images -->
                <a href="{% url 'shop:product_list' %}">
                    <img class="d-block w-100 carousel_img"
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.nrel.gov%2Fnews%2Fprogram%2F2021%2Fimages%2F07012021-amr-awards-storage.jpeg&f=1&nofb=1"
                        alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'shop:product_list' %}">
                    <img class="d-block w-100 carousel_img"
                        src="https://energycentral.com/sites/default/files/styles/article_body/public/ece/nodes/432044/dreamstime_s_189672237.jpg?itok=ZlCA98hf"
                        alt="Second slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="https://www.solarpowerworldonline.com/wp-content/uploads/2019/09/sunpower-energy-storage.jpg">
                    <img class="d-block w-100 carousel_img"
                        src="https://www.solarpowerworldonline.com/wp-content/uploads/2019/09/sunpower-energy-storage.jpg"
                        alt="Third slide">
                </a>
            </div>
        </div>
        <!-- The controls are active, so that the customer can get back to the previous slide -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <!-- Of course, the customer can also get to the next slide, if he/she wants to -->
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- The id recommend is used here, as it is used for the products in most cases, as they usually have the same style -->
    <div id="recommend" class="product-list row  col-md-12 mb-2 mt-4 text-center">
        <!-- We loop through all of our products -->
        {% for product in products %}
        <!-- and display the products -->
        <div class="item col-md-3 mb-2 mt-4">
            <div id="img" class=" text-center">
                <!-- The customer can click on the product information to view the product details page -->
                <a href="{% url 'shop:product_detail' product.id product.slug %}">
                    <!-- If a product image exists, it is shown. Otherwise the image not found picture is displayed -->
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}"
                        class="img-fluid p-2">
                    <!-- Our cstomers can add the product to their wishlist by clicking on the heart icon -->
                    <br /><a href="{% url 'shop:add_to_wishlist' product.slug %}" class="text-danger"><i
                            class="fas fa-heart"></i>
                    </a>
                    <div id="description">
                        <!-- The product name is displayed below the image -->
                        <p class="text-overflow text-uppercase text-decoration-none font-weight-ligh text-success">
                            {{ product.name }}
                        </p>
                    </div>
                </a>
            </div>
            <!-- The price is shown below the product name -->
            <div id="price" class="pl-2">
                <!-- If the new price is zero, that means that there is currently no discount -->
                {% if product.new_price == 0 %}
                <!-- Thus, we can simply show the products price -->
                <h4> {{ product.price }} €</h4>
                {% else %}
                <!-- Otherwise a discounted price exists, which is shown instead of the "normal" product price -->
                <h4> {{ product.new_price }} €
                    <!-- The percentage discount is shown in red text to alert the user about this offer -->
                    <span class="font-weight-bold text-danger">
                        -{{ product.sales_percent }}%</span>
                </h4>
                {% endif %}
            </div>
            <div id="add" class="pl-3">
                <!-- The customer can add a quantity of 1 of the product to his/her cart -->
                <form action="{% url 'cart:cart_add_one' product.id %}" method="post" class="pt-2">
                    <select hidden="hidden" name="quantity" id="id_quantity" value="quantity">
                        <option value="1">1</option>
                    </select>
                    <!-- Cross-site request forgery protection -->
                    {% csrf_token %}
                    <!-- To add the product to ones cart, one has to click on the button below -->
                    <button type="submit" class="btn btn-block btn-success bg-success btn-circle btn-icon-left"
                        value="Add">
                        <i class="fa fa-shopping-cart fa-lg"></i> Add
                    </button>
                </form>
            </div>

        </div>

        {% endfor %}

    </div>
</div>
<!-- Newsletter subscription-->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /> </a>
</center>
<br />
{% endblock %}