{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<!-- The form fades in instead of simply being there -->
<div class="container wow fadeIn">
    <h1>Contact us</h1>
    <!-- As the Python backend checks for the POST method, no action is needed -->
    <form action="" method="post">
        <!-- Cross-site request forgery protection -->
        {% csrf_token %}
        <!-- The form uses crispy to make it look better -->
        {{ form | crispy}}
        <input type="submit" value="Send">
    </form>
    <br />
    <!-- Of course our customers can also write a email message, if they prefer that over filling out the form -->
    Or write us an email: <a href="mailto:Solkraft.GreenEnergySolutions@gmail.com"
        style='color:darkgreen'>Solkraft.GreenEnergySolutions@gmail.com </a>
    <br /><br /><br />
    <!-- Newsletter to register - after clicking on the self-designed image one can register his/her email address -->
    <center>
        <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
                width='60%' /></a>
    </center><br />
</div>

{% endblock %}