{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

{% block content %}
<!-- Just a small page which tells our customer that the mail was sent successfully -->
<h1 align=center>Thank you for your inquiry!</h1><br />
<p align=center>Your contact information and message have been successfully submitted.</p>

<br /><br />

<!-- Newsletter to register - after clicking on the self-designed image one can register his/her email address -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />
{% endblock %}