{% extends "shop/base.html" %}

{% block content %}

<!-- It didn't work with the separate CSS-file, as Bootstrap would overwrite it. Thus, the code was added here.-->
<style>
	.center {
		margin-left: auto;
		margin-right: auto;
		align-content: center;
		align-self: center;
		text-align: center;
	}
</style>

<title>{% block title %}Staff page - Order list{% endblock %} </title>

<div class="centre">

	<a class="btn btn-success" href="{% url 'staff:manage_orders' %}">back</a>
	<br /><br /><b>Products:</b>
	<br />Just a little reminder for our staff.
	<br />You can only complete orders that have been paid for.<br /><br /><br />.

	{% for component in components %}
	<!-- For any order component that is not completed but paid for -->
	{% if component.is_completed == False and component.order.is_confirmed %}
	<div class="table-responsive">
		<!-- We create a table that contains the information about the order (components) -->
		<table class="centre" border="5" cellpadding="6">
			<tr>
				<th>Accessory ID:</th>
				<!-- Accessories can be e.g. plants -->
				<th>Product:</th>
				<th>Product ID:</th>
				<th>Order number:</th>
				<!-- Of course, you can buy more than one item of the same type, so the quantity must also be given -->
				<th>Quantity:</th>

			</tr>
			<tr>
				<td> {{component.id }} </td>
				<!-- We need to fill the table cells with the relevant information -->
				<td>{{component.product.name }}</td>
				<td>{{component.product.id }}</td>
				<!-- Our staff must be able to take a look at the particular order -->
				<td><a href="{% url 'staff:show_order' component.order.id %}" style="color:darkgreen">
						{{ component.order.id|stringformat: "06d"}}</a>
				</td>
				<td>{component.quantity }}</td>
			</tr>
		</table>
	</div>
	<!-- This button is clicked when the order has been processed by a staff member -->
	<a href="{% url 'staff:completed_component' component.id %}" class="btn btn-success">order completed</a>.
	<br /><br /><br />

	{% endif %}
	{% endfor %}
</div>
{% endblock %}