{% extends "shop/base.html" %}

{% block content %}
<!DOCTYPE html>

<!-- It didn't work with the separate CSS-file, as Bootstrap would overwrite it. Thus, the code was added here.-->
<style>
	.center {
		margin-left: auto;
		margin-right: auto;
		align-content: center;
		align-self: center;
		text-align: center;
	}
</style>
<html>

<title>{% block title %}Complaints{% endblock %} </title>

<body>
	<div class="centre">
		<a class="btn btn-success" href="{% url 'staff:manage_orders' %}">back</a>
	</div>
	<!-- Since staff needs to see all complaints, we loop through all complaints -->
	{% for complaint in complaints %}
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<!-- and display the complaint, the order code, the user, his email and data -->
					<th scope="col">Complaint:</th>
					<th scope="col">Order number:</th>
					<th scope="col">User:</th>
					<th scope="col">Email:</th>
					<th scope="col">Data:</th>
					<!-- Staff also need to know if a reply has already been given to the customer or not -->
					<th scope="col">Reply received?</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<!-- The complaint.boy is the actual complaint -->
					<th scope="row">{{ complaint.body }}</th>
					<td>{{ complaint.order_id }}</td>
					<!-- The other information is used to populate the fields described above -->
					<td>{ complaint.user }}</td>
					<td>{ complaint.email }}</td>
					<!-- Data is meant in the sense of data - not of dates -->.
					<td>{{ complaint.date }}</td>
					<!-- If the complaint is still active, the user has not yet received a response -->
					{% if complaint.is_active %}
					<td>No</td>
					<!-- Otherwise, the user has already received a response -->
					{% else %}
					<td>Yes</td>
					{% endif %}
					{% if complaint.is_active %}
					<!-- If the complaint is active, our staff can close the complaint after responding to the customer -->
					<td><a href="{% url 'staff:close_complaint' complaint.id %}" style="color:darkgreen">Mark as
							answered
							mark</a></td>
					{% endif %}
				</tr>
		</table>
	</div>
	{% endfor %}
</body>

</html>
{% endblock %}