{% extends "shop/base.html" %}

{% block content %}
<!DOCTYPE html>

<html>

<title>{% block title %}Job search - staff page{% endblock %} </title>

<body>
	<br />
	<br /> <br /> <br /> Pressing this button takes you back to all jobs.
	<a class="btn btn-success" href="{% url 'staff:manage_orders' %}">Back</a>.
	<br /><br />
	<br /><br />Of course, the Finder is about searching.
	<br /><b>Searching:</b></br>
	<!-- Form as_p means that form inputs are enclosed in <p>paragraphs -->.
	<form method="post">
		{{ form.as_p }}
		<!-- cross-site request forgery protection -->
		{% csrf_token %}
		<input type="submit" class="btn btn-success" value="search">
	</form>
	<br /><br /><b>Found orders:</b>
	<!-- We loop through all the orders -->
	{% for order in orders %}
	<div class="table-responsive">
		<!-- and create a table with the relevant information -->
		<table class="table" border="5" cellpadding="6">
			<tr>
				<th>Order number</th>
				<th>Paid?</th>
				<th>Received? </th>
				<th>Processed?</th>
				<th>Sent?</th>
				<th>Total price</th>
				<!-- "Continue reading..."" takes the employee to another page where they can view the entire order -->.
				<th>Read more...</th>

			</tr>
			<tr>
				<!-- At this point the information for the table is requested -->
				<td>{{ order.id|stringformat: "06d" }}</td>
				<!-- You have to check if the order is confirmed -->
				<td>{% if order.is_confirmed %}Yes{% else %}No{% endif %}</td>
				<!-- Has the customer selected the "cash on delivery" option? -->
				<td>{% if order.is_cash_on_delivery %}Yes{% else %}<u>No</u>{% endif %}</td>
				<!-- Whether the order is complete -->
				<td>{% if order.is_completed %}Yes{% else %}No{% endif %}</td>
				<!-- Whether the order is sent -->
				<td>{% if order.is_sent %}Yes{% else %}No{% endif %}</td>
				<!-- and you also have to ask for the total price -->
				<td>{{ order.total_price }}</td>
				<!-- If one clicks on the details button, more information about the order will be displayed -->
				<td><a class="btn btn-success" href="{% url 'staff:show_order' order.id %}">details</a></td>
			</tr>
		</table>
	</div>
	{% endfor %}
</body>

</html>
{% endblock %}