{% extends "shop/base.html" %}

{% block content %}

<!-- It didn't work with the separate CSS-file, as Bootstrap would overwrite it. Thus, we've decided to add it here.-->
<style>
	.center {
		margin-left: auto;
		margin-right: auto;
	}

	td {
		vertical-align: middle;
	}
</style>

<title>{% block title %}Orders - employee side{% endblock %} </title>

<div style="text-align: center; align-self: center; align-content: center;">

	<!-- No action is needed as the Python backend waits for the POST request -->
	<form method="POST">
		<!-- Cross-site request forgery protection -->
		{% csrf_token %}
		<br />
		<h2>Control panel</h2>

		<br />
		<div class="table-responsive">
			<table class="table">

				<tr>
					<td><input class="btn btn-success" type="submit" name="btn" value="All orders"></td>
					<!-- A button selection from which our staff can choose -->
					<td><input class="btn btn-success" type="submit" name="btn" value="Paid orders"></td>
					<!-- It makes it easier for them to find specific orders -->
					<td><input class="btn btn-success" type="submit" name="btn" value="Paid orders to be completed">
						<!-- As well as to complete certain orders, -->
					</td>
					<td><input class="btn btn-success" type="submit" name="btn" value="Completed orders"></td>
				</tr>
			</table>
		</div>

		<div class="table-responsive">
			<table class="table">
				<tr>
					<!-- as they are solely shown the orders which correspond to be information displayed on the button -->
					<td><input class="btn btn-success" type="submit" name="btn" value="Sent orders"></td>
					<!-- Get all orders where the cash on delivery option has been selected -->
					<td><input class="btn btn-success" type="submit" name="btn"
							value="Orders paid with cash on delivery">
					</td>
					<!-- Displays all products that still need to be packed -->
					<td> <input class="btn btn-success" type="submit" name="btn" value="List of products to be packed">
					</td>
				</tr>
			</table>
		</div>

		<div class="table-responsive">
			<table class="table">
				<tr>
					<td>
						<!-- All orders that are not yet completed are displayed here -->
						<a class="btn btn-success" href="{% url 'staff:find_order' %}">Search for an order using the ID
							search</a>
						<!-- You can also search for a specific order using its order ID -->
					</td>
					<td>
						<a class="btn btn-success" href="{% url 'staff:complaints' %}">View complaints</a>.
						<!-- And review the complaints to either issue a refund or close the complaint if it is deemed unacceptable -->
					</td>
				</tr>
			</table>
		</div>


	</form>
	<br />
	<h2>Order history:</h3>
		<br />
		<h4>Current orders:</h4>
		{% for order in orders %}
		<!-- Only orders that have not yet been shipped are displayed here -->
		{% if order.is_sent == False %}

		<div class="table-responsive">
			<table class="table" border="5" cellpadding="6">
				<tr>
					<th>Order number</th>
					<th>Paid?</th>
					<th>Receipt? </th>
					<!-- All important aspects are displayed in the table header -->
					<th>Completed?</th>
					<th>Sent?</th>
					<th>Total price</th>
					<th>Read more...</th>

				</tr>
				<tr>
					<td>{{ order.id|stringformat: "06d" }}</td>
					<!-- And the cells are filled with the appropriate information, of course -->
					<td>{% if order.is_confirmed %}<u>Yes</u>{% else %}No
						&nbsp;<a href="{% url 'staff:mark_as_paid' order.id %}" class="button btn btn-success">payment
							received</a>{% endif %}
					</td>
					<!-- Has the customer chosen the "cash on delivery" option? -->
					<td>{% if order.is_cash_on_delivery %}Yes{% else %}<u>No</u>{% endif %}</td>
					<!-- Our staff needs to know if the order has been paid for, prepared for shipment, and/or shipped -->
					<td>{% if order.is_completed %}Yes{% else %}No{% endif %}</td>
					<!-- This information is also used for the buttons to make it easier to see what still needs to be done -->
					<td>{% if order.is_sent %}Yes{% else %}No{% endif %}</td>
					<td>{{ order.total_price }}</td>
					<!-- Of course, the total price and a details button to view the entire order are also needed -->
					<td><a class="btn btn-success" href="{% url 'staff:show_order' order.id %}">details</a></td>
				</tr>
			</table>
		</div>

		{% endif %}
		{% endfor %}
		<br />
		<h4>Shipped orders:</h4>
		{% for order in orders %}
		<!-- Solely the orders which have been sent are shown in the table below -->
		{% if order.is_sent %}
		<div class="table-responsive">
			<table class="table" border="5" cellpadding="6">
				<tr>
					<th>Number</th>
					<th>Paid?</th>
					<th>Receipt? </th>
					<th>Completed</th>
					<th>Sent?</th>
					<th>Total price</th>
					<th>Read more...</th>

				</tr>
				<tr>
					<td>{{ order.id|stringformat: "06d" }}</td>
					<!-- All relevant information is filled into the table cells -->
					<td>{% if order.is_confirmed %}Yes{% else %}No{% endif %}</td>
					<!-- Has the customer chosen the cash on delivery option? -->
					<td>{% if order.is_cash_on_delivery %}Yes{% else %}<u>No</u>{% endif %}</td>
					<!-- Depending on the question in the table header, answer either yes or no -->
					<td>{% if order.is_completed %}Yes{% else %}No{% endif %}</td>
					<!-- and this is how the information is displayed to our staff -->
					<td>{% if order.is_sent %}Yes{% else %}No{% endif %}</td>
					<td>{{ order.total_price }}</td>
					<!-- Of course, our staff can also view the order in detail -->
					<td><a class="btn btn-success" href="{% url 'staff:show_order' order.id %}">details</a></td>
				</tr>
			</table>
		</div>

		{% endif %}
		{% endfor %}
</div>
{% endblock %}