<html>

<body>
    <h1>Your invoice from the GreenOasis webshop</h1>.
    <!-- The customer must know the order number<br>.
    <p>Order number {{ order.id_with_zeroes }}</br>
    </p>
    <!-- The date the order was created -->
    <p>The date the order was created: {{ order.created_at|date: "d. M Y" }}</p>
    <!-- When the order has been paid, the payment ID is shown to the customer -->
    <p>Payment ID: {{ order.payment_id }}</p>
    {% if order.delivery_type != 'collection' %}
    <p>Your payment is still pending. Please make the payment to complete your order. <br /><br />
        If you have chosen <u>Collection/Invoice</u> as your payment method, please wait for us to receive your
        package and, as a new customer, have the money ready for the postman.</p>
    {% endif %}
    {% if order.delivery_type == 'Abholung' %}
    <p>Please pay cash, by credit card, by debit card or by Google or Apple Pay at the time of collection.</p>
    <h4>Collection hours of the GreenOasis shop</h4>.
    Monday from 9am-3pm<br />
    Tuesday from 10am-4pm<br />
    Wednesday from 9-15<br />
    Thursday from 9-15<br />
    Friday from 9-12 <br />
    <br />
    In 67547 Worms, In den Gärten 72
    {% endif %}
    {% if order.is_sent %}
    <!-- If the order has been shipped, we can also show the tracking code -->
    <p>shipment number: {{ order.delivery_searching_code }}</p>
    {% endif %}

    <h3>customer details/shipping details</h3>

    <p>
        <!-- Our customer will also receive the information about the shipment, starting with the name or personal details of the person collecting the shipment -->
        {{ order.name }} {{ order.surname }}<br />
        <!-- Name is the first and last name -->
        {{ order.user.email }}<br />
        {{ order.address }}<br />
        <!-- Address contains the street and house number, so the postcode and town must also be added -->
        {{ order.postcode }}, {{ order.city }}
    </p>

    <h3>Mode of delivery</h3>
    <!-- Our customer can choose between standard and express delivery, as well as collection -->
    <p>{{ order.delivery_type }}</p>

    <h3>Purchased products</h3>
    <!-- This displays a table of all purchased products -->
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_details %}
            <!-- We go through all the items in the order and insert their information into the table -->
            <tr class="row{% cycle '1' '2' %}">
                <td>{{ item.product.name }}</td>
                <td class="num">{ item.price }} €</td>
                <!-- The item.price can be a discounted price or the normal price from the shop - depending on whether the product was on sale at the time of the order -->
                <td class="num">{{ item.quantity }}</td>
                <td class="num">{ item.full_price }} €</td>
                <!-- The full price is the total price you have to pay for the product -->
            </tr>
            {% endfor %}
            {% if order.discount > 0 %}
            <!-- If a discount has been applied, it will be shown at the bottom -->
            <tr class="discount">
                <td>Reduction:</td>
                <!-- It is not shown as a percentage, but the amount of euros you have "saved" -->
                <td>-{{ order.discount }} €</td>
            </tr>
            {% endif %}
            {% if order.delivery_type != 'collection' %}
            <tr class="delivery">
                <td><br />Shipping costs</td>
                <!-- Depending on the delivery type, the price varies and is thus displayed in the invoice -->
                <td>{{ order.delivery_price }} €</td>
            </tr>
            {% endif %}
            <tr class="total">
                <td colspan="3">Total</td>
                <!-- Followed by the total price of the purchase -->
                <td class="num">{{ order.total_price }} €</td>
            </tr>
        </tbody>
    </table>
    ______________________________________________________ <br />
    <strong>Beneficiary: </strong> GreenOasis GmbH <br />.
    <strong> IBAN: </strong> DE76188107805419626888 <br />
    <strong> BIC:</strong> UMWEDE7NXXX <br />
    <strong>Purpose: </strong> {{ order.id|stringformat: "06d" }}
    <br />
</body>

</html>