{% extends "shop/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<!-- It didn't work with the separate CSS-file, as Bootstrap would overwrite it. Thus we've added it here -->
<style>
	.center {
		margin-left: auto;
		margin-right: auto;
	}
</style>

<title>{% block title %}{{ order.id|stringformat:"06d" }}: Details - Staff page{% endblock %} </title>

<body class="center" style="text-align: center; align-self: center; align-content: center;">
	<a class="btn btn-success" href="{% url 'staff:manage_orders' %}">Back</a>
	<!-- Our staff members can get back to the page with all orders, if they'd like -->
	<h4>Order number {{ order.id|stringformat:"06d" }}</h4>
	<!-- They will furthermore find all the relevant information about the order here -->
	{% if order.is_confirmed and order.is_completed == False %}
	<!-- Only if the order was confirmed, i.e. paid, our staff can start with processing the order -->
	<br />
	<h3>Payment status</h3>
	<br />You can start processing the order!<br />
	{% elif order.is_confirmed == False %}
	<!-- If the customer hasn't paid yet, that information is shown to our staff members -->
	<br />
	<h3>Unpaid!</h3>
	<!-- If the order is completed and isn't sent any longer, i.e. arrived at the customers' site, -->
	{% elif order.is_completed and order.is_sent == False%}
	<br />
	<h3>Der Auftrag ist bezahlt und abgeschlossen.</h3>
	<!-- the order is complete and there is nothing left to do  -->
	<br />Has the order been shipped? Enter the tracking code to trace the parcel
	<!-- If the parcel was packaged by our employee, he/she can set the tracking-code number to inform our customer, but also as a reference for ourselves -->
	<form action="" method="post">
		<!-- as_p stands for as paragraph and makes the form look nicer, crispy would've been another option, which we did use in the webshop itself. It look slightly different. -->
		{{ form.as_p }}
		<!-- Cross-site request forgery protection -->
		{% csrf_token %}
		<input type="submit" class="btn btn-success" value="Ich bestätige, dass die Bestellung verschickt wurde.">
	</form>
	{% endif %}

	<br /><b>Lieferadresse</b>
	<div class="table-responsive">
		<table class="table" style="border:5px" cellpadding="6">
			<tr>
				<!-- The table headers are defined -->
				<th>User:</th>
				<th>First name: </th>
				<th>Surname:</th>
				<th>Address:</th>
				<th>City:</th>
				<th>Postal code:</th>

			</tr>
			<tr>
				<!-- and the table cells are filled with the order data -->
				<td>{{ order.user }}</td>
				<td>{{ order.name }}</td>
				<td>{{ order.surname }}</td>
				<td>{{ order.address }}</td>
				<td>{{ order.city }}</td>
				<td>{{ order.postal_code }}</td>
			</tr>
		</table>
	</div>
	<br /><br /><b>Costs</b><br />
	<!-- If our customer received a refund, it is shown to the staff with red text to make it pop-out -->
	{% if order.is_refunded %}
	<p style="color:crimson;" size="3">The refund has been made!</p>
	{% else %}
	<!-- Otherwise our staff can decide whether a refund should be granted or not -->
	<a href="{% url 'staff:refund_order' order.id %}" class="text-success">Refund</a>
	{% if message %}
	<br />
	{{ message }}
	{% endif %}
	{% endif %}

	<!-- In this second table the actual cost or rather price information is held -->
	<div class="table-responsive">
		<table class="table" style="border: 5px;" cellpadding="6">
			<tr>
				<!-- Table headers tell our staff what those cells are all about -->
				<th>Order costs:</th>
				<th>Shipping cost: </th>
				<th>Total costs:</th>
			</tr>
			<tr>
				<!-- and thus we can fill the table cells with the relevant information -->
				<td>{{ order.price }} €</td>
				<td>{{ order.delivery_price }} €</td>
				<td>{{ order.total_price }} €</td>
			</tr>
		</table>
		<!-- The delivery type is also displayed to ensure that no mistakes are made -->
		<br /><br /><b>Shipping method:</b> {{ order.delivery_type }}


		<br /><br /><br /><b>Bestellstatus:</b>
		<!-- The order status is also very important to our staff members -->
		<table class="table" style="border: 5px;" cellpadding="6">
			<tr>
				<!-- as they need to know whether the user has paid -->
				<th>Paid? </th>
				<th>Cash on delivery? </th>
				<th>Payment-ID:</th>
				<!-- whether the parcel was packaged -->
				<th>Edited?</th>
				<!-- and whether the parcel was sent or not -->
				<th>Shipped?</th>
				<th>Tracking code:</th>

			</tr>
			<tr>
				<td>{% if order.is_confirmed %}Yes{% else %}<u>No</u>{% endif %}</td>
				<td>{% if order.is_cash_on_delivery %}Yes{% else %}<u>No</u>{% endif %}</td>
				<td>{{ order.payment_id }}</td>
				<!-- All of the cells are fille with the relevant information, -->
				<td>{% if order.is_completed %}Yes{% else %}<u>No</u>{% endif %}</td>
				<!-- displaying either yes or no depending on the correct answer -->
				<td>{% if order.is_sent %}Yes{% else %}<u>No</u>{% endif %}</td>
				<!-- Once our staff add the tracking number, it is shown here -->
				<td>{{ order.delivery_searching_code }}</td>
				<!-- If no tracking code was added yet, it displays None, which is perfectly fine for our staff -->
			</tr>
		</table>
	</div>
	{% if order.is_confirmed %}
	<!-- If the order was paid further information can be displayed -->
	{% if order.is_completed == False %}
	<!-- If the order wasn't processed yet, our staff has to package everything carefully -->
	<br /><br /><b>Products to be prepared for shipment:</b>
	{% for component in components %}
	<!-- We go through all items -->
	{% if component.is_completed == False %}
	<!-- If the component wasn't marked as shipped yet, our staff will see all the important information about the product -->
	<br /><br />
	<table class="table" style="border: 5px;" cellpadding="6">
		<tr>
			<th>Component ID: </th>
			<!-- The component-ID is especially needed, if products are sent with planters. Depending on the offer, this can vary. -->
			<th>Product: </th>
			<th>Product ID:</th>
			<!-- Of course the amount is crucial, as we cannot send too many or not enough products -->
			<th>Quantity:</th>

		</tr>
		<tr>
			<td>{{component.id }}</td>
			<!-- The table cells are filled with the relevant information -->
			<td>{{ component.product.name }}</td>
			<td>{{ component.product.id }}</td>
			<!-- Our staff checks the product name/id and quantity -->
			<td>{{ component.quantity }}</td>
		</tr>
	</table>
	<!-- Our staff needs to press this button for every product to ensure that nothing is forgotten and if e.g. two parcels need to be sent,
		another employee sees what must still be sent to the customer -->
	<a href="{% url 'staff:completed_component' component.id %}" class="btn btn-success">I have added the product(s)
		products to the order</a>
	<br />
	{% endif %}
	{% endfor %}
	{% endif %}

	<br /><br /><b>Products ready for shipment:</b>
	{% for component in components %}
	<!-- We loop through all order components and check whether the parcel is ready to send -->
	{% if component.is_completed %}
	<div class="table-responsive">
		<table class="table" style="border: 5px;" cellpadding="6">
			<tr>
				<!-- Thus we have the table headers again -->
				<th>Component ID: </th>
				<th>Product: </th>
				<!-- which help our staff to understand what the entire information is all about -->
				<th>Product ID:</th>
				<th>Quantity:</th>

			</tr>
			<tr>
				<td>{{component.id }}</td>
				<!-- and the table cells are once again filled with the relevant information -->
				<td>{{ component.product.name }}</td>
				<td>{{ component.product.id }}</td>
				<td>{{ component.quantity }}</td>
			</tr>
		</table>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	<br /> <br />
</body>

</html>
{% endblock %}