{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Über Solkraft
{% endblock %}

{% block content %}

<div class="container wow fadeIn">
    <br />
    <p></p>
    <h2>Über uns</h2>
    <div>
        <br />
        <p>
            Solkraft was founded in 2021 and offers energy storage solution with never before seen Smart Home
            functionality and energy management solutions, which are perfectly adjustable to the customer's needs.
        </p>
        <p>
            Solkraft batteries are 100% safe, as they work with hydorgen.
            &ldquo;Solkraft&rdquo; the batteries are safe and can be stacked together, if more power should be needed in
            the future.
            Currently, Solkraft solely sells its products in Hong Kong, but an expansion to China and later on the Asian
            Pacific market is planned.
            &ldquo;Solkraft&rdquo; stay tuned for the energy storage solutions of the future!
        </p>
        <p>
            You want to produce your own energy?
            &ldquo;Solkraft&rdquo; has you covered!
        </p>

        <br /> <br />
    </div>
</div>
<br />

<center>
    <a href="{% url 'shop:product_list' %}"><img src="{% static 'images/Solkraft0.png' %}" /></a>
</center><br />

<!-- Newsletter -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />
{% endblock content %}