{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Datenschutzrichtlinie
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container wow fadeIn">
        <h3>Privacy Policy</h3>
        <div>
            <p>
                <strong>1. Our promise</strong><br />.
                We are committed to protecting the privacy of individuals with respect to personal information.
                We
                therefore ensure that our policies and practices regarding the collection, use, storage
                storage, transfer and access to personal data comply with the requirements of the
                General Data Protection Regulation (GDPR). By accessing and using our website
                Solkraft.PythonAnwhere.com, you agree to be bound by this Privacy Policy. If you do not
                agree, you must discontinue your account and use of this website.
            </p>
            <p>
                <strong>2. Collection of personal data</strong><br />.
                When you visit our website, we only record your visit and do not collect any personal
                Data (i.e., information about you that identifies you) unless otherwise
                stated. Cookies used (if any) in any part of our website,
                Are not used to collect personally identifiable information. For your information, cookies are
                small
                computer files that can be stored on the computers of web surfers in order to obtain configuration
                configuration information and to analyze the usage habits of web surfers.
                For example, they can save you from having to register again when you revisit a Web site, and they are
                and are typically used to track your preferences regarding the subject matter of the website.
                track. You can refuse to accept cookies (by selecting the appropriate Internet options
                or
                browser settings of your computer system), but if you do so, you may not be able to use
                Not use or enable certain available features on our websites.
            </p>
            <p>
                <strong>3. Types of Personal Information Collected</strong><br />.
                Occasionally, you may be asked to provide your personal information, including, but not
                limited to your name, gender, age, ID number, phone number,
                your
                fax number, your home address, your email address, your credit card information, your interests, etc.
                The
                refusal to provide such information may result in your being denied access to certain
                parts of
                of our website, or that we are not able to process the requests or applications you have made.
                or
                inquiries, or that the purposes of your visit are otherwise frustrated.
            </p>
            <p>
                <strong>4. Security</strong><br />.
                All personal information that you provide to us is secured on our website and is
                are
                accessible only to authorized personnel. Our online registration process uses the
                SSL protocol connection for data transmission to protect your information by encrypting it in a secure
                Format to protect their privacy.
            </p>
            <p>
                <strong>5. Personal Data Collection Statement</strong><br />.
                As a Solkraft customer, it may be necessary for you to provide us with your personal information to
                provide,
                when you register with us for a service and / or product or when you purchase products.
                purchase.
                If your Personal Information is incomplete or incorrect, we may not be able to provide or continue to
                provide the services
                may not be able to offer or continue to offer you the Services.
            </p>
            <p>
                6. we will keep your Personal Information confidential at all times. Our policies and practices
                in
                relating to the collection, use, retention, disclosure, transfer, security, and access
                at
                Personal Data will be in accordance with the laws of the GDPR.
            </p>
            <p>
                7. you agree that your personal data that you provide to us may be
                provided
                by us for the following purposes and for such other purposes as may be agreed between you and us
                will
                or as may be required by law from time to time:<br />.
                * Provision of the Services;<br />
                * mMarketing of goods and/or services by us in connection with the Services; and
                Marketing of any goods and/or services by us or our affiliated or
                affiliated
                Companies;<br />
                * Processing of services arising out of or in connection with the Services;<br />
                * Analyzing, verifying and/or reviewing your credit, payment and/or status in
                relating
                to the provision of the Service;<br />
                * Processing of payment instructions; and * Enabling you to comply with our interconnection obligations
                Interconnection or other industry practices.
            </p>
            <p>
                8.You further agree that we may transfer our data (whether in Hong Kong or overseas)
                to
                our agents contractors, telecommunications providers, third party debt collectors,
                credit reporting agencies
                credit bureaus, security agencies, lenders, banks, financial institutions, other persons persons,
                who
                owed confidentiality obligations to us, our affiliates or associated companies
                and
                Any of our actual or assigns or transferees of our rights with respect to you to
                use, disclose, hold, process, retain or transfer such personal
                Data
                for the purposes set forth above.
            </p>
            <p>
                9. Retention of Information: In your dealings with us, we retain records of your
                Online Transactions for audit purposes. Our general policy is to retain the information for a
                reasonable period of time. Access to and correction of information are in accordance
                with
                the law (GDPR allows):<br />.
                * to verify whether we hold any of your personal data;<br />
                * to access your personal data held by us;<br />
                * to request that we correct personal information that is inaccurate;<br />
                * review our policies and practices (from time to time) with respect to personal information and the
                types
                From
                Personal Data held by us.
            </p>
            <p>
                10. If you have any questions online about our privacy policy, please contact our
                Customer Service.<br />
                Solkraft<br />
                Here would be our address.<br />
            </p>
            <p>
                11.In accordance with the Regulation, we have the right to charge you a reasonable fee for the
                Processing a request for access to personal information.
            </p>
            <p>
                12. Nothing in this Privacy Policy limits your rights under the Regulation.
            </p>
        </div>
    </div>
</div>
<br />
<!-- Newsletter -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />
{% endblock content %}