{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Versandpolitik
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container wow fadeIn">
        <h3>Shipping Policy</h3>
        <h4>Purchasing terms</h4>
        <div>
            <h6>Shipping Terms</h6>

            Thank you for visiting and shopping at Solkraft. Below you will find the
            Terms and Conditions that make up our shipping policy.

            <h6>Domestic shipping terms </h6>.

            <h8>Shipment processing time</h8>.

            All orders will be processed within 2-3 business days. Orders will not be shipped or delivered on weekends
            or holidays shipped or delivered.

            If we have a high volume of orders, shipping may be delayed a few days. Please
            allow extra days for delivery. If there is a significant delay in shipping your order
            delayed, we will contact you by email or phone.

            <h6>Shipping Rates & Estimated Delivery Times </h6>.

            Shipping rates for your order will be calculated and displayed at checkout.

            There may be occasional delays in delivery.

            Update this section based on the carriers you support.

            Shipping to PO Boxes or APO/FPO Addresses

            Solkraft ships to addresses within Germany and Austria.

            Shipments will not be delivered to PO boxes.

            <h6> Shipping confirmation & order tracking </h6>.

            You will receive a shipping confirmation email once your order has shipped, which will include your
            Tracking Number(s). The tracking number will be active within 24 hours at the latest.

            <h6> Customs, Duties and Taxes </h6>.

            My Website (change this) is not responsible for any customs duties and taxes that may be
            are levied. Any fees charged during or after shipping are the responsibility of the
            of the customer (taxes, etc.).

            <h6> Damages</h6>.

            Solkraft is not liable for products damaged or lost during shipping.
            lost. If you received your order damaged, please contact the shipping company,
            to file a claim.

            Please retain all packing materials and damaged goods before filing a claim.
            file a claim.

            <h6> International Shipping Policy</h6>.

            We currently ship outside of Germany only to Austria. The shipping times are valid for both
            Germany, as well as for Austria.

            </h6> Return Policy </h6>.
            A return is possible within 14-days according to the Distance Selling Act.
        </div>
    </div>
</div>
<br />
<!-- Newsletter -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />
{% endblock content %}