{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Nutzungsbedinungen
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container wow fadeIn">
        <h3>Terms of use</h3>
        <div>
            <p>
                <strong>1. Application</strong><br />
                This notice applies to:<br />
                1. the use of mshwines.com;<br />
                2. any information that is stored on or may be received by this or any other mshwines.com server
                can be received via it ("Information").
            </p>
            <p>
                <strong>2. Copyright</strong><br />.
                The Information may be protected by intellectual property laws and rights
                (including, but not limited to, laws protecting copyright). If the user uses the
                Information without the consent of the owner of such rights, downloads, copies, transfers,
                publishes, stores or otherwise uses the information without the consent of the owner of such rights, the
                user may be in
                violate. It is the user's responsibility to determine whether any such infringement has occurred
                ("Copyright Infringement") has occurred.
            </p>
            <p>
                <strong>3. general disclaimer</strong><br />.
                Solkraft expressly disclaims any responsibility, representation or warranty:<br />
                1. with respect to the quality, operation, use, accuracy or timeliness of the
                Purpose of mshwines.com or the information;<br />
                2. with respect to any goods or services accessed through mshwines.com or pursuant to the
                Information
                accessed, which is offered or received
                the Information;<br />
                3. that any access to mshwines.com or the Information will be uninterrupted or error-free
                will
                or that the Information will not contain any viruses or contaminating or destructive properties
                contain;<br />
                4. that the Information will not be offensive or abusive to the user or any other person; <br />.
                will;
            </p>
            <p>
                <strong>4. Third Party Websites</strong><br />.
                Solkraft.com may contain material produced by third parties or links to other websites.
                Solkraft
                assumes no responsibility or liability with respect to such third-party materials or for the operation
                or
                content of other websites (whether or not linked to Solkraft.com) that are not under the direct control
                of Solkraft.
                Solkraft's direct control. Solkraft reserves the right to request the removal of a link from
                a
                website to Solkraft.com that has been installed without the prior written consent of MSH wines.
                has installed.
            </p>
            <p>
                <strong>5. Limitation of liability</strong><br />.
                Solkraft shall not be liable to the User or to any other person, whether in tort
                action, contract, law (including without limitation for negligence, breach of contract,
                Defamation or infringement of proprietary rights) for:<br />
                1. any direct loss;<br />
                2. any consequential or indirect loss (including, but not limited to, lost
                revenues or profits);<br />
                3. the User's liability to any other person which the User or any other person
                suffers
                or arising under or in any way out of the use of Solkraft.co.uk information.
            </p>
            <p>
                <strong>6. Confidentiality</strong><br />.
                Solkraft does not guarantee (and assumes no responsibility for) the confidentiality of any
                Information or data, whether transmitted personally or otherwise through Solkraft.de. Solkraft's current
                Solkraft practice is to take reasonable steps to maintain confidentiality.
            </p>
            <p>
                <strong>7. Availability and Sustainability of the Services</strong><br />.
                Solkraft does not warrant that the information or materials contained on Solkraft.com are
                current
                or accurate, or that the products or services featured on mshwines.com are available.
                are available.
                Solkraft may make changes to the materials appearing on Solkraft.com at any time without notice.
            </p>
            <p>
                <strong>8. User</strong><br /> Obligations.
                In consideration for Solkraft providing the user with access to the information and/or
                Solkraft.d, the user agrees:<br />
                1. not to engage in or permit any copyright infringement;<br />
                2. not to use the information or the user's access to Solkraft.d for any illegal,
                inappropriate, obscene or defamatory purpose(s);<br />
                3. take all measures to ensure that the information does not cause damage to the user's
                User's information or systems;<br />
                4. ensure that all information you provide to Solkraft.de is accurate to the best of your
                knowledge
                and conscience are true and accurate;<br />
                5. to Solkraft researching access to the information;<br />
                6. to all of Solkraft's disclaimers and limitations of liability set forth in this notice
                are;
                and<br />
                7. to comply with Solkraft's privacy policy as in effect from time to time.
            </p>
            <p>
                <strong>9. Indemnification</strong><br />.
                User agrees to indemnify Solkraft against all losses, damages, claims,
                claims, liabilities, costs (including legal fees) and expenses in connection with your use,
                Solkraft in the event of any breach of the terms and conditions contained herein or in the event of
                negligence. Indemnify and hold you harmless.
            </p>
            <p>
                <strong>10. Law and Severability</strong><br />.
                The GDPR governs this notice, and each part of this notice applies to the extent permitted thereby.
                Any part of this notice that is prohibited or unenforceable in any jurisdiction shall apply with respect
                to that jurisdiction only to the extent of the prohibition or unenforceability. Thereby
                shall invalidate any other part of this notice or affect the validity or enforceability of that part in
                any other jurisdiction. This version shall prevail whenever there is a discrepancy between the two
                versions.
            </p>
        </div>
    </div>
</div>
<br />
<!-- Newsletter -->
<center>
    <a href="{% url 'newsletter:newsletter_registration' %}"><img src="{% static 'images/Newsletter.jpg' %}"
            width='60%' /></a>
</center><br />
{% endblock content %}